= render TurboFrameComponent.new(id: 'collection_show', data: {"turbo-frame-target": "frame"}) do
  - if @collection
    - if @collection.errors
      = render Display::AlertComponent.new(type:'info', message: @collection.errors.join)
    - else

      = render TabsContainerComponent.new(type:'outline') do |c|
        - apikey = "#{get_apikey}"
        - c.pinned_right do
          %div{'data-concepts-json-target': 'button'}
            .concepts_json_button
              = render RoundedButtonComponent.new(link: "#{@ontology.id}/collections/#{escape(@collection.id)}?display=all&apikey=#{apikey}", target:'_blank')

        - c.item(title: t('concepts.details'), path: '#details', selected: true, json_link: "#{@ontology.id}/collections/#{escape(@collection.id)}?display=all&apikey=#{apikey}") 

        - c.item_content do
          = render :partial =>'/collections/collection', locals: {collection: @collection}