.taxonomy-card{'data-controller': 'reveal-component'}
  .title-bar
    .title
      = "#{@taxonomy.name} (#{@taxonomy.acronym})"
    %a{href: "https://#{@taxonomy.acronym}.#{$UI_URL.sub("https://", "")}"}
      = inline_svg_tag('icons/slices.svg', class: "taxonomy-slice-svg #{@taxonomy.is_slice ? '' : 'd-none'}")
  %a.ontologies{href: "/ontologies?#{@taxonomy.id.split('/')[-2]}=#{@taxonomy.acronym}"}
    = inline_svg_tag('icons/ontology.svg')
    .number-of-ontologies
      = "#{@taxonomy.ontologies.length} ontologies"
  .description
    = render TextAreaFieldComponent.new(value: @taxonomy.description)
  .ontologies-cards
    - @taxonomy.ontologies.each_with_index do |ontology, index|
      - if index>10
        = render ChipButtonComponent.new(url: "/ontologies?#{@taxonomy.id.split('/')[-2]}=#{@taxonomy.acronym}", text: "...", tooltip:"See all ontologies ...", type: "clickable")
        - break
      = render ChipButtonComponent.new(url: "/ontologies/#{ontology.split('/').last}", text: ontology.split('/').last, tooltip: @ontologies_names[ontology], type: "clickable")
    
  - if @taxonomy.children
    .taxonomy-children-reveal{'data-action': "click->reveal-component#toggle", 'data-id': reveal_id}
      .text
        = t('taxonomy.show_sub_categories')
      = inline_svg_tag 'icons/arrow-down.svg'
    .taxonomy-children-container
      .taxonomy-children-line
      .taxonomy-children.d-none{id: reveal_id}
        - @taxonomy.children.each do |child|
          = render Display::TaxonomyCardComponent.new(taxonomy: child, ontologies_names: @ontologies_names)