- if internal_link?
  = render ChipButtonComponent.new(type: "clickable") do
    = link_tag
- elsif @value.to_s =~ /\A#{URI::regexp(%w[http https])}\z/
  = render ChipButtonComponent.new(type: "clickable") do
    = link_tag
- else
  = render ChipButtonComponent.new( text:  @value.to_s, type: "static")