= render_in_modal do
  :javascript
    function updateProposalForm(event){
      let frame = document.getElementById('application_modal_content')
      let type = event.target.value
      frame.src = "#{notes_new_proposal_path}?parent_type=#{parent_type}&ontology_id=#{ontology_id}&parent_id=#{parent_id}&proposal_type="+type
    }

  = render_alerts_container
  = form_with url: notes_path, method: 'post', data:{turbo: true} do
    = hidden_field_tag 'parent', parent_id
    = hidden_field_tag 'type', parent_type
    = hidden_field_tag 'creator', user_id
    = hidden_field_tag 'ontology_id', ontology_id
    .form-group.d-flex.align-items-center
      %label.w-25{for: 'proposal_type'}
        Proposal type:
      = select_tag 'proposal[type]', options_for_select(types, type), class: 'proposal_type form-control', id: 'proposal_type', onChange: 'updateProposalForm(event)'

    - if type.eql?('ProposalChangeHierarchy')
      .form-group
        = text_field_tag 'proposal[reasonForChange]', '', placeholder: t('notes.new_proposal.reason_for_change'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[newTarget]', '', placeholder: t('notes.new_proposal.new_target'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[oldTarget]', '', placeholder: t('notes.new_proposal.old_target'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[newRelationshipType]', '', placeholder: t('notes.new_proposal.relationship_type'), class: "form-control", required: true

    - elsif type.eql?('ProposalChangeProperty')
      .form-group
        = text_field_tag 'proposal[reasonForChange]', '', placeholder: t('notes.new_proposal.reason_for_change'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[propertyId]', '', placeholder: t('notes.new_proposal.property_id'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[newValue]', '', placeholder: t('notes.new_proposal.new_value'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[oldValue]', '', placeholder: t('notes.new_proposal.old_value'), class: "form-control", required: true
    - else
      .form-group
        = text_field_tag 'proposal[reasonForChange]', '', placeholder: t('notes.new_proposal.reason_for_change'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[classId]','', placeholder: t('notes.new_proposal.class_id'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[label]','', placeholder: t('notes.new_proposal.label'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[synonym]','', placeholder:t('notes.new_proposal.synonym'), class: "form-control", required: true
      .form-group
        = text_area_tag 'proposal[definition]','', placeholder: t('notes.new_proposal.definition'), class: "form-control", required: true
      .form-group
        = text_field_tag 'proposal[parent]','', placeholder: t('notes.new_proposal.parent'), class: "form-control", required: true

    = form_save_button(enable_loading: false)
