= render_in_modal do
  %div
    - ontology_acronym = params[:ontology_id]
    - filter_properties = ["http://www.w3.org/1999/02/22-rdf-syntax-ns#type"]
    = render TabsContainerComponent.new(type: 'outline') do |c|
      - c.item(title: "Raw Data", selected: true)
      - c.item_content do
        %table.table
          %tr
            %td
              = link_to 'type', "#"
            %td{style:"word-break: break-all"}
              - type = @instance.types.reject{|x| x['NamedIndividual']}
              #{type.map {|cls| link_to_class(ontology_acronym,cls)}.join(', ').html_safe}
          - properties = @instance[:properties].to_h.select{|k,v| !filter_properties.include? k.to_s}
          - properties.each do |prop|
            - if !prop[1].nil?
              %tr
                %td
                  = link_to_property(prop[0] , ontology_acronym)
                %td{style:"word-break: break-all"}
                  = prop[1].map { |value| instance_property_value(value , ontology_acronym) }.join(', ').html_safe
  

      - if params["id"]
        - uri_parameter= CGI.escape(params["id"])
        - finder_params = "?acronym=#{ontology_acronym}&uri=#{uri_parameter}"
        - ['json', 'xml', 'ntriples', 'turtle'].each do |format|
          - c.item(title: format)
          - c.item_content do
            = render TurboFrameComponent.new(id: "resource_content_frame_#{format}", src: "/content_finder#{finder_params}&output_format=#{format}", loading: "lazy")
