- @title = "Content Finder"
= form_tag('/content_finder', method: :get, 'data-turbo': true, novalidate: true) do
  .content-finder-container
    .inputs.w-50
      #graph_url
        = ontologies_selector(id: 'search-ontologies', name: 'acronym', selected: @acronym || '', placeholder: "Graph URL", multiple: false)
      #uri
        = render Input::UrlComponent.new(name: "uri", placeholder: "URI", value: params[:uri])
      #output_format
        = render Input::SelectComponent.new(name: "output_format", value: %w[html json xml ntriples turtle], selected: params[:output_format], multiple: false)
      #submit_button
        = render Buttons::RegularButtonComponent.new(id:'regular-button', value: "Fetch", variant: "primary", size: "slim", type:"submit")

- if !@result&.empty?
  %div.p-2.card.content-finder-result.mb-3
    - if params[:output_format] != "html"
      = rdf_highlighter_container(@format, @result)
    - else
      = n_triples_to_table(@result)

- else
  = empty_state(text: "Content not found")

                    