- @title = "Content Finder"
= form_tag('/content_finder', method: :get, 'data-turbo': true, novalidate: true) do
    .content-finder-container
        %div
            .inputs
                #graph_url
                    = ontologies_selector(id: 'search-ontologies', name: 'acronym', selected: @acronym || '', placeholder: "Graph URL", multiple: false)
                #uri
                    = render Input::UrlComponent.new(name: "uri", placeholder: "URI", value: params[:uri])
                #output_format
                    = render Input::SelectComponent.new(name: "output_format", value: ['html', 'json', 'xml', 'ntriples', 'turtle'], selected: params[:output_format], multiple: false)
                #submit_button
                    = render Buttons::RegularButtonComponent.new(id:'regular-button', value: "Fetch", variant: "primary", size: "slim", type:"submit")

- if @result && !@result.empty?
    .content-finder-result{data: {controller: 'content-finder', 'content-finder-format-value': @format }}
        %pre.mb-0
            %code.d-block{style: 'text-wrap: pretty; word-break: break-all', data: {'content-finder-target': 'content'}}
                = @result

- if params[:output_format] == "html"
    .content-finder-html-result.bg-white.p-2.card
        = render TurboFrameComponent.new(id:"concept_details" , src: "/ajax/class_details?&ontology=#{@acronym}&conceptid=#{CGI.escape(params[:uri])}&styled=false", loading: "lazy")
    
                    