!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "no-cache", name: "turbo-cache-control"}/
  %body
    %p
      = t("feedback_mail.name", name: @name)
    %p
      = t("feedback_mail.email", email: @email)
    %p
      = t("feedback_mail.location", location: @location)
    %p= t("feedback_mail.tags")
    %ul
      - for tag in @tags
        %li
          = tag
    %p
      %br/
      %strong= t("feedback_mail.feedback")
      = simple_format(@comment)