= turbo_frame_tag 'selector_results_frame' do
    .ontologies-selector-results
        .horizontal-line                  
        .results-number
            = "Showing #{@ontologies.length} of #{@total_ontologies_number}" 
            %span
                select all
        .ontologies
            - @ontologies.each do |ontology|
                = render ChipsComponent.new(label: "#{ontology.name} (#{ontology.acronym})", name: ontology.acronym)
        .horizontal-line                    
        .action-buttons
            .button
                = render Buttons::RegularButtonComponent.new(id:'rqsdf', value: "Cancel", variant: "secondary")
            .button
                = render Buttons::RegularButtonComponent.new(id:'regulqsdfon', value: "Apply", variant: "primary") 

