%div.container
  %div#site-admin-clear-caches.my-5
    %div.site-admin-page-header
      CACHE MANAGEMENT
    %dive.site-admin-page-section
      = link_to("Flush UI cache", "#", id: "flush_memcache_action", class: "btn btn-outline-secondary btn-sm admin-action-item",  role: "button")
      = link_to("Reset UI cache connection", "#", id: "reset_memcache_connection_action", class: "btn btn-outline-secondary btn-sm admin-action-item",  role: "button")
      = link_to("Flush GOO cache", "#", id: "flush_goo_cache_action", class: "btn btn-outline-secondary btn-sm admin-action-item",  role: "button")
      = link_to("Flush HTTP cache", "#", id: "flush_http_cache_action", class: "btn btn-outline-secondary btn-sm",  role: "button")

  %div#site-admin-update-check.mb-5
    %div.site-admin-page-header
      VERSION MANAGEMENT
    %dive.site-admin-page-section
      = link_to("Check for updates", "#", id: "update_check_action", class: "btn btn-outline-secondary btn-sm",  role: "button")

  %div#site-admin-appliance-id.mb-5
    %div.site-admin-page-header
      APPLIANCE ID
    %dive.site-admin-page-section
      %div#appliance-id
        %span