- @title = "Administration"

%div
  %div.container
    %h3.my-1.py-5 Administration Console
%div
  %div.container.my-3
    = render_alerts_container
    = render Display::AlertComponent.new(id: 'progress_message', type:'info')
    = render Display::AlertComponent.new(id: 'success_message', type:'success')
    = render Display::AlertComponent.new(id: 'error_message', type:'danger')
    = render Display::AlertComponent.new(id: 'info_message', type:'info')

%div
  %div.mx-1
    - sections = ['Analytics', 'Site Administration','Ontology Administration',  'Licensing', 'Users', 'Metadata Administration', 'Groups', 'Categories', 'Persons & Organizations', 'SPARQL']
    - selected = params[:section] || sections.first.downcase
    = render TabsContainerComponent.new(url_parameter: 'section') do |t|
      - sections.each do |section_title|
        - t.item(title: section_title,
                     path: '',
                     selected: section_title.downcase.eql?(selected.downcase),
                     page_name: '')
      - t.item_content do
        = render 'analytics'
      - t.item_content do
        = render 'main'
      - t.item_content do
        %div.ontologies_list_container.mt-3
          %table{:style => "float:left;"}
            %tr
              %td{:style => "white-space:nowrap;"}
                Report generated on:&nbsp;&nbsp;
                %span.report_date_generated
                %a#refresh_report_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style => "margin-left:11px;"}
                  %span.ui-button-text{:class => "report_date_generated_button"}
          %p.tab_description{:style => "clear:both;"}
          %table#adminOntologies.zebra{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
      - t.item_content do
        %div#renew-license-notice
          %table.table.table-sm.table-bordered.mt-5#license-table
            %thead
              %tr
                %th{scope: "col"} Licensed to
                %th{scope: "col"} Appliance ID
                %th{scope: "col"} Valid till
                %th{scope: "col"} Days remaining
            %tbody

        %div.mb-5#renew-license-button
          = link_to("Renew license", new_admin_license_path, class: "btn btn-primary", role: "button", remote: "true")

        %div.mb-5#renew-license-form
      - t.item_content do
        %div.ontologies_list_container.mt-3
          %div.mx-auto.w-75
            = render TurboFrameComponent.new(id: 'users-list', src: users_path, loading: 'lazy')
      - t.item_content do
        = render partial: 'ontologies_metadata_curator/metadata_tab'
      - t.item_content do
        %div.ontologies_list_container.mt-3
          %div.mx-auto.w-75
            = render TurboFrameComponent.new(id: 'groups-list', src: admin_groups_path, loading: 'lazy')
      - t.item_content do
        %div.ontologies_list_container.mt-3
          %div.mx-auto.w-75
            = render TurboFrameComponent.new(id: 'categories-list', src: admin_categories_path, loading: 'lazy')
      - t.item_content do
        %div.ontologies_list_container.mt-3
          %div.mx-auto.w-75
            = render TurboFrameComponent.new(id: 'agents-list', src: agents_path, loading: 'lazy')
      - t.item_content do
        %div.container
          = sparql_query_container
