- @title = t('admin.index.title')


%div
  %div.container.my-3
    = render_alerts_container
    = render Display::AlertComponent.new(id: 'progress_message', type:'info')
    = render Display::AlertComponent.new(id: 'success_message', type:'success')
    = render Display::AlertComponent.new(id: 'error_message', type:'danger')
    = render Display::AlertComponent.new(id: 'info_message', type:'info')

%div
  %div.mx-1
    - sections = [t('admin.index.analytics'), t('admin.index.site_administration'),t('admin.index.ontology_administration'),  t('admin.index.licensing'), t('admin.index.users'), t('admin.index.metadata_administration'), t('admin.index.groups'), t('admin.index.categories'), t('admin.index.persons_and_organizations'), t('admin.index.sparql'), t('admin.index.search')]
    - selected = params[:section] || sections.first.downcase
    = render Layout::VerticalTabsComponent.new(header:  t('admin.index.administration_console'), titles: sections, selected: selected, url_parameter: 'section') do |t|
      - t.item_content do
        = render 'analytics'
      - t.item_content do
        = render 'main'
      - t.item_content do
        %div
          %table{:style => "float:left;"}
            %tr
              %td{:style => "white-space:nowrap;"}
                = t('admin.index.report_generated_on')
                &nbsp;&nbsp;
                %span.report_date_generated
                %a#refresh_report_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style => "margin-left:11px;"}
                  %span.ui-button-text{:class => "report_date_generated_button"}
          %p.tab_description{:style => "clear:both;"}
          %table#adminOntologies.border.rounded.p-1
      - t.item_content do
        %div#renew-license-notice
          %table.table.table-sm.table-bordered.mt-5#license-table
            %thead
              %tr
                %th{scope: "col"}= t('admin.index.licensed_to')
                %th{scope: "col"}= t('admin.index.appliance_id')
                %th{scope: "col"}= t('admin.index.valid_till')
                %th{scope: "col"}= t('admin.index.days_remaining')
            %tbody

        %div.mb-5#renew-license-button
          = link_to(t('admin.index.renew_license'), new_admin_license_path, class: "btn btn-primary", role: "button", remote: "true")

        %div.mb-5#renew-license-form
      - t.item_content do
        = render TurboFrameComponent.new(id: 'users-list', src: users_path, loading: 'lazy')
      - t.item_content do
        = render partial: 'ontologies_metadata_curator/metadata_tab'
      - t.item_content do
        = render TurboFrameComponent.new(id: 'groups-list', src: admin_groups_path, loading: 'lazy')
      - t.item_content do
        = render TurboFrameComponent.new(id: 'categories-list', src: admin_categories_path, loading: 'lazy')
      - t.item_content do
        = render TurboFrameComponent.new(id: 'agents-list', src: agents_path, loading: 'lazy')
      - t.item_content do
        = sparql_query_container
      - t.item_content do
        = render TurboFrameComponent.new(id: 'search-admin', src: '/admin/search', loading: 'lazy')