- @title = t('admin.index.title')


%div
  %div.container.my-3
    = render_alerts_container
    = render Display::AlertComponent.new(id: 'progress_message', type:'info')
    = render Display::AlertComponent.new(id: 'success_message', type:'success')
    = render Display::AlertComponent.new(id: 'error_message', type:'danger')
    = render Display::AlertComponent.new(id: 'info_message', type:'info')

%div
  %div.mx-1
    - sections = [t('admin.index.analytics'), t('admin.index.site_administration'), t('admin.index.catalog_config'), t('admin.index.licensing'), t('admin.index.ontology_administration'), t('admin.index.metadata_administration'), t('admin.index.users'), t('admin.index.groups'), t('admin.index.categories'), t('admin.index.agents'), t('admin.index.search')]
    - sections << t('admin.index.sparql') if sparql_enabled?
    - selected = params[:section] || sections.first.downcase
    = render Layout::VerticalTabsComponent.new(header:  t('admin.index.administration_console'), titles: sections, selected: selected, url_parameter: 'section') do |t|
      - t.item_content do
        = render TurboFrameComponent.new(id: 'analytics-tab', src: admin_analytics_path, loading: 'lazy')
      - t.item_content do
        = render 'main'
      - t.item_content do
        = render TurboFrameComponent.new(id: 'catalog-config', src: admin_catalog_configuration_path, loading: 'lazy')
      - t.item_content do
        = render TurboFrameComponent.new(id: 'licenses-tab', src: admin_licenses_path, loading: 'lazy')
      - t.item_content do
        = render partial: 'ontology_administration'
      - t.item_content do
        = render TurboFrameComponent.new(id: 'metadata-administration-tab', src: '/admin/metadata_administration', loading: 'lazy')
      - t.item_content do
        = render TurboFrameComponent.new(id: 'users-list', src: users_path, loading: 'lazy')
      - t.item_content do
        = render TurboFrameComponent.new(id: 'groups-list', src: admin_groups_path, loading: 'lazy')
      - t.item_content do
        = render TurboFrameComponent.new(id: 'categories-list', src: admin_categories_path, loading: 'lazy')
      - t.item_content do
        = render TurboFrameComponent.new(id: 'agents-list', src: admin_agents_path, loading: 'lazy')
      - t.item_content do
        = render TurboFrameComponent.new(id: 'search-admin', src: '/admin/search', loading: 'lazy')
      - if sparql_enabled?
        - t.item_content do
          = sparql_query_container