= render TurboFrameComponent.new(id:'selector_results_frame') do |container|
    .ontologies-selector-results
        .horizontal-line                  
        .results-number
            = "Showing #{@ontologies.length} of #{@total_ontologies_number}" 
            %span.select-all{'data-action': 'click->ontologies-selector#selectall'}
                = t('ontologies_selector.select_all')
        .ontologies
            - @ontologies.each do |ontology|
                .ontology{'data-ontologies-selector-target': 'ontology'}
                    = render ChipsComponent.new(label: "#{ontology.name} (#{ontology.acronym})", name: ontology.acronym)
        .horizontal-line                    
        = save_and_cancel_buttons(save_html_options: {data: { action: "click->turbo-modal#hide", ontologies_selector_target: "exit" }} ,cancel_html_options: {data:{action:"click->ontologies-selector#apply"}})


    - container.loader do
        .ontologies-selector-loding
            = content_tag(:div, class: "lds-ellipsis ontologies-selector") do
                = 4.times.map { content_tag(:div) }.join.html_safe