- count = agent_usages_count(agent)
= link_to_modal(nil, agents_path + "/#{agent.id.split('/').last}/usages", style: 'width: 120px', class: "#{(agent.id.present? && session[:user]&.admin?)   ? '': 'disabled'} btn btn-sm btn-#{count.zero? ? 'danger' : 'light'}", data: { show_modal_title_value:t("agents.modal_title", name: agent.name)}) do
  = count.zero? ? t("agents.not_used") : t("agents.see_usages_count", count: count)
