= turbo_frame_tag 'users-list' do
  %div.my-1
    = render_alerts_container
  %table#adminUsers.zebra{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th First name
        %th Last name
        %th Username
        %th Email
        %th Roles
        %th Ontologies
        %th Project
        %th Created At
        %th Actions
    %tbody#users_table_content
      - @users.each do |user|
        %tr.human{:id => user.id.split('/').last}
          - count = (user.ontologies&.size || 0) +  (user.projects&.size || 0)
          %td= user.firstName
          %td= user.lastName
          %td= user.username
          %td= user.email
          %td= user.role.join(', ')
          %td= user.ontologies&.size || 0
          %td= user.projects&.size || 0
          %td= Date.parse(user.created)
          %td
            %div.d-flex.align-items-center{style: 'width: 250px'}
              %span.mx-1
                = link_to 'Detail', "/accounts/#{user.username}", {data: {turbo_frame: '_top'}}
              %span.mx-1
                - if count.zero?
                  = button_to "Delete", CGI.unescape(user_path(user.id.split('/').last)), method: :delete, class: 'btn btn-link',  form: {data: { turbo: true, turbo_confirm: "Are you sure?", turbo_frame: '_top'}}
                - else
                  %span{data: { controller: 'tooltip' }, title: "Can't delete this user because still used"}
                    = link_to "Delete", "", class: 'btn btn-link disabled'
              %span.mx-1
                = link_to 'Login as', "login_as/#{user.username}", {data: {turbo_frame: '_top'}}
      %tr.empty-state
        %td.text-center{:colspan => "6"} There are currently no  agents.
  :javascript
    $.fn.dataTable.ext.errMode = 'none';
    $("#adminUsers").dataTable()

