- @title = t('register.title')
= form_for(:user, :url => users_path) do |f|
  - unless @errors.nil?
    .d-flex.justify-content-center.mt-4
      = render Display::AlertComponent.new(type: "danger", closable: false) do
        = t('register.account_errors')
        %ul.mb-0
          - for error in @errors
            %li= error.is_a?(Array) ? error.last : error
  = render :partial => 'form', :locals => {:f => f}
