.account-page-center
  .account-page-container
    %h3.account-page-title= t('users.show.my_account')
    %hr#account-page-title-line/
    .account-page-sub-container
      .account-page-first-row
        .account-page-card
          .account-page-personal-informations-title-bar
            %h4.account-page-card-title Personal Information
            %a.account-page-rounded-button{:href => edit_user_path(url_encode(@user.username))}
              = render partial: "shared/svgs/edit_icon"
          .account-page-info-column
            %p.title= t('users.show.first_name')
            %p.info
              = @user.firstName
          .account-page-info-column
            %p.title= t('users.show.last_name')
            %p.info
              = @user.lastName
          .account-page-info-column
            %p.title= t('users.show.email')
            %p.info
              = @user.email
          .account-page-info-column
            %p.title= t('users.show.username')
            %p.info
              = @user.username
          .account-page-info-column
            %p.title= t('users.show.orcid_id')
            %p.info
              =@user.orcidId
          .account-page-info-column
            %p.title= t('users.show.github_id')
            %p.info
              =@user.githubId
        .account-page-card
          .account-page-card-container
            .account-page-card-sub-container
              %h4.account-page-card-title= t('users.show.mailing_list_subscription')
              %p.account-page-card-desc= t('users.show.mailing_list_description', portal: portal_name)
            - subscribed = false
            - if subscribed
              %a.account-page-subscribe-button{:href =>"mailto:#{$ANNOUNCE_SERVICE_HOST}?subject=unsubscribe%20#{$ANNOUNCE_LIST}"}
                = t('users.show.unsubscribe')
            - else
              %a.account-page-subscribe-button{:href => "mailto:#{$ANNOUNCE_SERVICE_HOST}?subject=subscribe%20#{$ANNOUNCE_LIST}%20#{@user.firstName}%20#{@user.lastName}"}
                = t('users.show.subscribe')
        .account-page-card
          .account-page-card-container
            .account-page-card-sub-container
              %h4.account-page-card-title API Key
              %p.account-page-card-desc
                = t('users.show.api_key_description', portal: portal_name)
              %div.apikey
                = render ClipboardComponent.new(message: session[:user].apikey)
          .account-page-api-documentation-link
            %a{href: "#{$REST_URL}/documentation", target: "_blank"}
              = t('users.show.api_documentation')
              = render partial: "shared/svgs/external_link_icon"
        .account-page-card{'data-controller': 'reveal-component'}
          %h4.account-page-card-title
            = t('users.show.custom_semantic_resource')
          #custom_ontologies.enable-lists{'data-reveal-component-target': "item"}
            - if at_slice?
              %p{style: "padding-left: 7px; font-size: 10pt; margin: -3px 0 7px;"}
                = t('users.show.please')
                %a{href: "#{$UI_URL}/account"}= t('users.show.modify_custom_semantic_resource')
            - else
              %p.account-page-card-desc
                = t('users.show.customize_portal_display', portal: portal_name)
              %p
                %span{style: "font-weight: normal; font-size: 9pt; padding-left: 7px;"}
                  %a#edit_custom_ontologies{'data-action': "click->reveal-component#toggle", 'data-reveal-component-target': "item", style: 'cursor: pointer;'}= t('users.show.select_semantic_resources')

              .account-page-custom-ontologies
                - @user_ontologies.each do |ont|
                  - ont = @ontologies.select{ |o| o.id.eql?(ont) }.first
                  = render ChipButtonComponent.new(url: "/ontologies/#{ont.acronym}", text: ont.acronym , type: "clickable", tooltip: ont.name)

          %p.account-page-card-desc= t('users.show.note_feature_logged_in')
          #custom_ontologies_picker.d-none{'data-reveal-component-target': "item"}
            = form_tag custom_ontologies_path(url_encode(@user.username)) do
              - selected = @user.customOntology.map {|o| o.split('/').last }
              = ontologies_selector(id:'account_page_ontologies_selector' ,name: 'ontologies', selected: selected, ontologies: @all_ontologies_for_select)
              .mt-3
                = render Buttons::RegularButtonComponent.new(id: 'submit_custom_set', variant: "secondary", size: "slim", type: 'submit', value: t('users.show.save_custom_semantic_resources'))
      .account-page-second-row
        .account-page-card
          %h4.account-page-card-title= t('users.show.subscriptions')
          - if @user.subscription.nil? || @user.subscription.empty?
            = t('users.show.not_subscribed')
          - else
            - @user.subscription.each do |subscription|
              - ont_id = subscription[:ontology]
              - ont = (!subscription[:ontology].nil? ? subscription[:ontology].split('/').last: nil) # ensure we get the acronym
              - type = (!subscription[:notification_type].nil? ? subscription[:notification_type].downcase : nil)
              .account-page-subscription
                %a{:href => "/ontologies/#{ont}?p=notes"}= ont
                %div
                  - if type == "notes"
                    %a.notes{:href => "/ontologies/#{ont}?p=notes"}= t('users.show.notes')
                  - else
                    = type
                  = subscribe_button(ont_id)
        .account-page-card
          %h4.account-page-card-title= t('users.show.submitted_semantic_resources')
          .account-page-small-cards-container
            - if @admin_ontologies.nil? || @admin_ontologies.empty?
              .account-page-no-ontology.w-100
                %img{:src => "#{asset_path("empty-box.svg")}"}/
                %p= t('users.show.no_uploaded_resources')
                %a.account-page-upload-ontology-button{href: "/ontologies/new"}= t('users.show.upload_semantic_resources')
            - else
              - @admin_ontologies.each do |ont|
                .account-page-submitted-ontology{data: {controller: 'tooltip'}, title: ont.name}
                  %a{href: "/ontologies/#{ont.acronym}"}= ont.acronym
                - unless ont.views.nil? || ont.views.empty?
                  - ont.views.each do |view|
                    .account-page-submitted-ontology{data: {controller: 'tooltip'}, title: ont.name}
                      %a{href: "/ontologies/#{view.match(/\/([^\/]+)$/)[1]}"}= view.match(/\/([^\/]+)$/)[1]

        .account-page-card
          %h4.account-page-card-title= t('users.show.projects_created')
          .account-page-small-cards-container
            - if @user_projects.nil? || @user_projects.empty?
              = t('users.show.no_project_created')
            - else
              - @user_projects.each do |project|
                .account-page-submitted-ontology
                  %a{href: "/projects/#{project.acronym}"}= project.name