= turbo_frame_tag 'graphs-admin' do
  = render_alerts_container
  %div#site-admin-clear-caches.my-2
  %div
    %div.d-flex.justify-content-between.w-100
      %div
        %p Total graphs: #{@graphs.size}
        %p Total triples: #{@graphs.reduce(0){|sum, (k,v)| sum + v[0]}}
        %p Total zombie graphs: #{@graphs.reduce(0){|sum, (k,v)| sum + (v[1] ? 1 : 0)}}
    %div
      = render TableComponent.new(id: 'graphs_table', paging: true, searching: true, sort_column: 1) do |t|
        - t.header do |h|
          - h.th { "#" }
          - h.th { "Graph URI" }
          - h.th { "Triples count" }
          - h.th { "Zombie graph?" }
        - @graphs.each_with_index do |graph_count, i|
          - graph, values = graph_count
          - t.row do |r|
            - r.td{ i.to_s }
            - r.td{ graph }
            - r.td{ values[0].to_s}
            - r.td{ values[1].to_s}
