= turbo_frame_tag :cookies_modal do
  - if cookies[:cookies_accepted].nil? # don't re-render if a true/false selected
    %section.cookies-modal
      %h4
        = t('cookies_modal.title')
      %p
        = t('cookies_modal.paragraph1', portal: portal_name)
      %p
        = t('cookies_modal.paragraph2', portal: portal_name)
      %div
        = link_button_component(id:'accept-cookie-selector', value: t('cookies_modal.accept_button'), href: cookies_path(cookies: true), size: "slim", variant: 'primary')
      %div.cookie-privacy-link
        = link_to t('cookies_modal.privacy_link'), $FOOTER_LINKS.dig(:sections, :agreements, :privacy_policy)
