%tr.human{:id => agent_table_line_id(agent_id(agent))}
  %td
    = render partial: 'agents/table/name', locals: { agent: agent }
  %td
    = agent.acronym
  %td
    = render partial: 'agents/table/affiliations', locals: { agent: agent }
  %td
    = render partial: 'agents/table/usages', locals: { agent: agent }
  %td
    = render partial: 'agents/table/actions', locals: { agent: agent }
