= turbo_frame_tag 'agents-list' do
  .d-flex
    = link_to_modal(t("agents.index.create_new_agent"),
                  new_agent_path,
                  id: "new_agent_btn",  
                  role: "button",
                  class: "btn btn-default mb-3",
                  data: { show_modal_title_value: t("agents.index.create_new_agent"), show_modal_size_value: 'modal-xl' },
                  )
    = rounded_button_component("#{$REST_URL}/agents?display=all&apikey=#{get_apikey}")

  = render_alerts_container(AgentsController)
  = render TableComponent.new(id: 'admin-agents-table', borderless: true, outline: true, paging: true, searching: true, sort_column: '0', server_side: true, ajax_url: '/ajax/agents/list', search_placeholder: "search agents", columns: ['name', 'acronym', 'affiliations', 'agentType', 'usages', 'actions']) do |t|
    - t.header do |h|
      - h.th { t("agents.form.name") }
      - h.th { t("agents.form.acronym") }
      - h.th { t("agents.form.affiliations") }
      - h.th { t("agents.form.type") }
      - h.th { t("agents.index.usages") }
      - h.th { t("agents.index.actions") }

  