= turbo_frame_tag 'agents-list' do
  = link_to_modal("Create New Agent",
                new_agent_path,
                id: "new_agent_btn",
                role: "button",
                class: "btn btn-default mb-3",
                data: { show_modal_title_value: "Create a new agent", show_modal_size_value: 'modal-xl' },
                )
  = render_alerts_container(AgentsController)
  = render TableComponent.new(id: 'admin_agents', custom_class: 'border rounded p-1') do |t|
    - t.header do |h|
      - h.th {'First name'}
      - h.th {'Identifiers'}
      - h.th {'Affiliations'}
      - h.th {'Type'}
      - h.th {'Usages'}
      - h.th {'Actions'}

    = render partial: 'agents/agent' , collection: @agents
    %tr.empty-state
      %td.text-center{:colspan => "6"} There are currently no  agents.
  :javascript
    $.fn.dataTable.ext.errMode = 'none';
    $("#admin_agents").dataTable()