:javascript
  function onMetadataChange(){
    let frame = document.getElementById('metadata_by_ontology')
    let properties = document.getElementById('search_metadata')

    let selectedProperties = "all"
    if(properties){
       selectedProperties = Array.from(properties.selectedOptions).map(({ value }) => value).join(',')
    }
    frame.src = "./edit?properties=" + selectedProperties + "&show_sections=false"
  }

.center
  .edit-ontology-container
    .edit-ontology-title
      %div Edit ontology
      %hr
    .edit-ontology-sub-container
      - category_attributes = submission_metadata.group_by{|x| x['category']}.transform_values{|x| x.map{|attr| attr['attribute']} }
      - category_attributes = category_attributes.reject{|key| ['no', 'Object description properties', 'Content', 'Links'].include?(key.to_s)}
      .edit-ontology-left-column{:role => "tablist",onchange:"onMetadataChange()"}
        = render MetadataSelectorComponent.new(label: 'Filter properties to show', values: submission_editable_properties , selected:  nil, inline: true)
        %div.nav.nav-pills.flex-column
          - category_attributes.keys.each_with_index do |key, index|
            %a.edit-ontology-tab-item.d-block{href: "##{key.parameterize}-tab", "data-toggle" => "pill", class: index.zero? ?  'active show': ''}
              = key.humanize

      #myTabContent.edit-ontology-right-column.w-100
        = render TurboFrameComponent.new(id:"") do
          %div.tab-content
            - category_attributes.each_with_index  do |key_properties, index|
              - key, properties = key_properties
              .edit-ontology-tab.tab-pane.fade{id: key.parameterize+'-tab', class: index.zero? ? 'active show' :''}
                = render TurboFrameComponent.new(id: "ontology-content-#{index}", loading:"lazy", src: "edit?properties=#{properties.join(',')}&show_sections=false&container_id=ontology-content-#{index}")

    %hr#edit-ontology-actions-devider
    .edit-ontology-actions
      .reset-all-button
        %svg{:fill => "none", :height => "11", :viewbox => "0 0 11 11", :width => "11", :xmlns => "http://www.w3.org/2000/svg"}
          %g{"clip-path" => "url(#clip0_1818_661)"}
            %path{:d => "M10.84 5.0201L9.19761 6.98521C9.06164 7.14789 8.86639 7.23183 8.66972 7.23183C8.50863 7.23197 8.35265 7.17532 8.2292 7.07184L6.26409 5.42942C5.97274 5.18592 5.93396 4.75234 6.17747 4.46101C6.42097 4.16968 6.85455 4.13088 7.14588 4.37439L7.95167 5.04786C7.73094 3.43887 6.34747 2.19529 4.6788 2.19529C2.85708 2.19531 1.375 3.67739 1.375 5.49912C1.375 7.32084 2.85708 8.80292 4.6788 8.80292C5.0585 8.80292 5.3663 9.11072 5.3663 9.49042C5.3663 9.87011 5.0585 10.1779 4.6788 10.1779C3.42906 10.1779 2.2541 9.69123 1.3704 8.80754C0.486686 7.92382 0 6.74886 0 5.49912C0 4.24937 0.486686 3.07441 1.3704 2.19069C2.2541 1.307 3.42906 0.820312 4.6788 0.820312C5.92855 0.820312 7.10351 1.307 7.98722 2.19069C8.68583 2.88928 9.13602 3.76997 9.2941 4.72566L9.78499 4.1383C10.0285 3.84697 10.4621 3.80821 10.7534 4.05167C11.0447 4.2952 11.0835 4.72877 10.84 5.0201Z", :fill => "#31B404"}
          %defs
            %clippath#clip0_1818_661
              %rect{:fill => "white", :height => "11", :width => "11"}
        %div Reset all fields
      .save-button
        %div Save
        %svg{:fill => "none", :height => "8", :viewbox => "0 0 10 8", :width => "10", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M9.76764 0.232287C9.45824 -0.0775267 8.95582 -0.0773314 8.646 0.232287L3.59787 5.28062L1.35419 3.03696C1.04438 2.72715 0.542174 2.72715 0.23236 3.03696C-0.0774534 3.34677 -0.0774534 3.84898 0.23236 4.15879L3.03684 6.96327C3.19165 7.11807 3.39464 7.19568 3.59765 7.19568C3.80067 7.19568 4.00386 7.11827 4.15867 6.96327L9.76764 1.3541C10.0775 1.0445 10.0775 0.542081 9.76764 0.232287Z", :fill => "white"}


