= render TurboFrameComponent.new(id:id) do
  = hidden_field object_name, :ontology, value: @submission.acronym
  = hidden_field object_name, :id, value: @submission.submissionId

  - if selected_attribute?('format')
    = attribute_form_group_container('format') do
      = render partial: 'submissions/submission_format_form'

  - if selected_attribute?('location')
    = attribute_form_group_container('location') do
      = render partial: 'ontologies/submission_location_form'

  - if selected_attribute?('contact')
    = attribute_form_group_container('contact') do
      - @submission.contact = [] unless @submission.contact && @submission.contact.size > 0
      = contact_input(label: 'Contacts', name: '')

  - reject_metadata = %w[contact pullLocation prefLabelProperty definitionProperty synonymProperty authorProperty obsoleteParent obsoleteProperty hasOntologyLanguage]
  - for attr in submission_metadata.reject{|attr| reject_metadata.include?(attr["attribute"]) || !selected_attribute?(attr['attribute'])}
    = attribute_form_group_container(attr['attribute']) do
      = raw attribute_input(attr['attribute'], attr_metadata: attr)

