%div.form-group.row
  %label.col-sm-2.col-form-label
    Title(s)
    %span.asterik<> *
  .col-sm-10
    #titles
      - unless @submission.titles && @submission.titles.size > 0
        - @submission.titles = []
        - @submission.titles << OpenStruct.new(title: "", lang: "en-En", titleType: "AlternativeTitle")
      - @submission.titles.each_with_index do |title, i|
        .row.row-title{id: "title-#{i}"}
          .col-sm-11
            / row for text title
            .row.nested-row-values
              .col-sm-2
                %label.float-right.col-form-label{for: "submission_titles[#{i}][title]"}
                  Title:
                  %span.asterik<> *
              .col-sm-10
                %input.form-control.input-sm.w100perc{id: "submission_titles[#{i}][title]", name: "submission[titles[#{i}][title]]", type: "text", value: title.title, required: true}/
            / row for text lang and type
            .row.nested-row-values
              .col-sm-2
                %label.float-right.col-form-label{for: "submission_titles[#{i}][lang]"}
                  Language:
                  %span.asterik<> *
              .col-sm-4
                - selected_title_lang = title.lang ? title.lang : "en-EN"
                %select.form-control.input-sm.w100perc{id: "submission_titles[#{i}][lang]", name: "submission[titles[#{i}][lang]]"}
                  %option{value: "en-EN", selected: selected_title_lang == "en-EN"}= "English"
                  %option{value: "it-IT", selected: selected_title_lang == "it-IT"}= "Italian"
                  %option{value: "fr-FR", selected: selected_title_lang == "fr-FR"}= "French"
                  %option{value: "de-DE", selected: selected_title_lang == "de-DE"}= "German"
                  %option{value: "es-ES", selected: selected_title_lang == "es-ES"}= "Spanish"
              .col-sm-1
                %label.float-right.col-form-label{for: "submission_titles[#{i}][titleType]"} Type:
              .col-sm-5
                - selected_title_titleType = title.titleType ? title.titleType : "en-EN"
                %select.form-control.input-sm.w100perc{id: "submission_titles[#{i}][titleType]", name: "submission[titles[#{i}][titleType]]"}
                  %option{value: "AlternativeTitle", selected: selected_title_titleType == "AlternativeTitle"}= "Alternative Title"
                  %option{value: "Subtitle", selected: selected_title_titleType == "Subtitle"}= "Subtitle"
                  %option{value: "TranslatedTitle", selected: selected_title_titleType == "TranslatedTitle"}= "Translated Title"
                  %option{value: "Other", selected: selected_title_titleType == "Other"}= "Other"
          .col-sm-1.div-btn-remove
            %button.btn.btn-primary.btn-remove-title{id: "button-remove-title-#{i}", access: "false", onclick: "removeTitle('title-#{i}')", type: "button"}
              %i.fas.fa-trash-alt
    / ADD NEW TITLE HERE
    .row.row-title-add-button
      .col-sm-5
        %button#button-add-title.btn.btn-primary{access: "false", type: "button"}
          %span.fas.fa-plus{"aria-hidden" => "true"}
          Title