- if flash[:notice]
  .alert.alert-success= flash[:notice]
- if flash[:alert]
  .alert.alert-danger= flash[:alert]
- if flash[:error]
  .alert.alert-danger= flash[:error]

%div
  %div
    = form_with url: "/admin/change_configs", method: :post, local: false, turbo: true, html: { id: 'config-form' } do |f|
      - @config.each do |key, value|
        .form-group
          = f.label key, key.to_s.humanize
          - if value.is_a?(String)
            = f.text_field key, value: value, class: "form-control"
          - elsif value.is_a?(Integer)
            = f.number_field key, value: value, class: "form-control"
          - elsif value.is_a?(TrueClass) || value.is_a?(FalseClass)
            = f.check_box key, {}, true, false
          - elsif value.nil?
            = f.text_field key, value: value, class: "form-control"
          - else
            = f.text_area key, value: value, class: "form-control", rows: 3
      %div.mt-3.flex-shrink-0
        = f.submit "Save Changes", class: "btn btn-primary"