- @title = t('projects.edit.title', name: @project.name)
%div.container

  %h1{:style => "padding: 10px;"}
    = t('projects.edit.editing_project')
  %p{:style => "padding-left: 10px;"}
    / TODO_REV: Enable project delete
    / = link_to("Delete Project", @project, :confirm => "Are you sure?", :method => :delete)
  = form_for(:project, url: project_path(@project.acronym), html: {method: :put}) do |f|
    = render partial: 'form', locals: { f: f }
    %p{:style => "padding-left: 10px;"}
      = submit_tag t('projects.edit.cancel')
      = f.submit t('projects.edit.update_project'), :class => "blueButton"
