.page-container
  .page-subcontainer
    .page-title
      .text
        = t("projects.self")
      .line
    .annotator-page-decription
      = t("projects.index.intro", site: "#{$SITE}")
    .mt-2.d-inline-block
      = render Buttons::RegularButtonComponent.new(id: 'new_project', value: t("projects.create_new_project"), variant: "secondary", href: session[:user].nil? ? "/login?redirect=/projects" : new_project_path, size: "slim")

    = render TableComponent.new(stripped: true,small_text: true, custom_class: 'projects-table') do |t|
      - t.header do |h|
        - h.th { t("projects.self") }
        - h.th { t("projects.description") }
        - h.th { t("projects.contacts") }
        - h.th { t("projects.institutions") }
        - h.th { t("projects.ontologies") }
        - if current_user_admin?
          - h.th { t("projects.creator") }
          - h.th { t("projects.created") }
        - h.th { "Actions" }

      - @projects.each do |project|
        - t.row do |r|
          - r.td do
            = link_to(project.name, project_path(project.acronym))
          - r.td do
            - unless project.description.nil?
              = render TextAreaFieldComponent.new(value: project.description)
          - r.td do
            = project.contacts
          - r.td do
            = project.institution
          - r.td do
            = project.ontology

          - r.td do
            = project.creator.map { |c| c.split("/").last }.join(", ")
          - r.td do
            = project.created

          - r.td do
            = "Here the actions"


