- @title = t('projects.new.title')
%h1{:style => "padding: 10px;"}
  = t('projects.new.new_project')
= form_for :project, url: {action: "create"}, html: {id: 'form'} do |f|
  = render partial: 'form', locals: { f: f }
  %p{:style => "padding: 10px;"}
    = submit_tag t('projects.edit.cancel')
    = f.submit t('projects.new.create_project'), class: "blueButton"
