.recommender-page-container 
  .recommender-page-subcontainer
    .recommender-page-title
      .text
        Recommender
      .line
    .recommender-page-decription
      Get recommendations for the most relevant ontologies from an excerpt of text or a list of keywords
    .recommender-page-inputs
      .inputs 
        .recommender-page-text-area
          %textarea{rows: "4" , placeholder: 'Enter or past a text to be annotated ...', name: "text"}
          .insert-sample-text-button
            .button
              .text
                Insert sample text
              = inline_svg_tag 'icons/arrow-curved-up.svg'
        .recommender-page-options
          .section-text
            Options
          .input
            .title
              input
            .radios
              .text-choice
                = render Input::RadioChipComponent.new(label: 'Text', name: 'input-choice', value: 'text', checked: true)
              .keywords-choice
                = render Input::RadioChipComponent.new(label: 'Keywords (Keywords separated by commas)', name: 'input-choice', value: 'text')
          .output
            .title
              output
            .radios
              .ontologies-choice
                = render Input::RadioChipComponent.new(label: 'Ontologies', name: 'output-choice', value: 'text', checked: true)
              .ontology-sets-choice
                = render Input::RadioChipComponent.new(label: 'Ontology sets', name: 'output-choice', value: 'text')
          .show-advanced-options
            .text 
              Show advanced options
            = inline_svg_tag "icons/arrow-down.svg"
            
      .advanced-options

      .recommender-page-button
        = render Buttons::RegularButtonComponent.new(id:'recommender', value: "Get recommendations", variant: "primary")