.recommender-page-container{'data-controller': 'recommender'}
  .recommender-page-subcontainer
    .recommender-page-title
      .text
        Recommender
      .line
    .recommender-page-decription
      Get recommendations for the most relevant ontologies from an excerpt of text or a list of keywords

    = form_tag('/recommender', method: :get, 'data-turbo': true, novalidate: true) do
      .recommender-page-inputs{'data-controller': 'reveal-component'}
        .inputs 
          %div
            - is_input = @results.nil? || @results.empty?
            .recommender-page-text-area{class: is_input ?  "" : "d-none", 'data-recommender-target': 'input', 'data-controller': 'sample-text'}
              %textarea#recommender-text-area{rows: "4" , placeholder: 'Enter or past a text to be annotated ...', name: "input", oninput: 'handleInput(event)',  maxlength: "500", 'data-sample-text-target': "input"}
                = params[:input]
              .insert-sample-text-button
                .button{'data-action': 'click->sample-text#annotator_recommender', 'data-sample-text': t("sample_text")}
                  .text
                    Insert sample text
                  = inline_svg_tag 'icons/arrow-curved-up.svg'

            #recommender-page-result-area.recommender-page-text-area-results{class: is_input ? "d-none" : "", 'data-recommender-target': 'result'}
              .text
                = params[:input]
          .recommender-page-options
            .section-text
              Options
            .input
              .title
                input
              .radios
                - check_input = !params[:input_type].eql?('2')
                .text-choice
                  = render Input::RadioChipComponent.new(label: 'Text', name: 'input_type', value: '1', checked: check_input)
                .keywords-choice
                  = render Input::RadioChipComponent.new(label: 'Keywords', name: 'input_type', value: '2', checked: !check_input)
            .output
              .title
                output
              .radios{'data-action': 'change->recommender#togglesets'}
                - check_output = !params[:output_type].eql?('2')
                .ontologies-choice{'data-recommender-target': 'ontologieschoice'}
                  = render Input::RadioChipComponent.new(label: 'Ontologies', name: 'output_type', value: '1', checked: check_output)
                .ontology-sets-choice
                  = render Input::RadioChipComponent.new(label: 'Ontology sets', name: 'output_type', value: '2', checked: !check_output)
            .advanced-options-button{'data-action': 'click->reveal-component#show', 'data-reveal-component-target': 'showButton'}
              = inline_svg_tag "icons/settings.svg"
              .text 
                Show advanced options
            .advanced-options-button.d-none{'data-action': 'click->reveal-component#hide', 'data-reveal-component-target': 'hideButton'}
              = inline_svg_tag 'icons/hide.svg'
              .text 
                Hide advanced options
              
        .recommender-advanced-options.d-none{'data-reveal-component-target': 'item'}
          .weights-configuration
            .title 
              Weights configuration
            .inputs-container
              .ninput
                = render Input::NumberComponent.new(label: "Converage", name: "wc", value: params[:wc] || 0.55, min: '0', max: '1', step: '0.01')
              .ninput
                = render Input::NumberComponent.new(label: "Acceptance", name: "wa", value: params[:wa] || 0.15, min: '0', max: '1', step: '0.01')
              .ninput
                = render Input::NumberComponent.new(label: "Knowledge detail", name: "wd", value: params[:wd] || 0.15, min: '0', max: '1', step: '0.01')
              .ninput
                = render Input::NumberComponent.new(label: "Specialization", name: "ws", value: params[:ws] || 0.15, min: '0', max: '1', step: '0.01')
          .ontologies-configuration
            .title 
              Ontologies configuration
            .inputs-container
              .maxsets.input.d-none{'data-recommender-target': 'maxset'}
                = render Input::NumberComponent.new(label: "Maximum number of ontologies per set", name: "max_elements_set", value: params[:max_elements_set] || 3)
              .ontologies.input
                - get_ontologies_data
                = render Input::SelectComponent.new(label: "Select ontologies", id: 'ontologies', name: 'ontologies_list[]', value: @onts_for_select, multiple: "multiple", selected: params[:ontologies_list])
              .input{'data-recommender-target': 'empty'}

        .recommender-page-button#get_recommendations_button{class: is_input ?  "" : "d-none", 'data-recommender-target': 'button'}
          = render Buttons::RegularButtonComponent.new(id:'recommender', value: "Get recommendations", variant: "primary", type: 'submit')

        .recommender-page-button{class: is_input ? "d-none" : "", 'data-action': 'click->recommender#edit'}
          = render Buttons::RegularButtonComponent.new(id:'edit-recommender', value: "Edit", variant: "primary") do |btn|
            - btn.icon_left do
              = inline_svg_tag "edit.svg"
    - if @results && @results.empty?
      .browse-empty-illustration
        %img{:src => "#{asset_path("empty-box.svg")}"}
        %p No result was found
    - unless @results.nil? || @results.empty?
      .recommender-page-results 
        .title
          Recommended ontologies
        .recommender-table-container
          = render TableComponent.new(id: 'recommender-table', borderless: true, layout_fixed: true, small_text: true, outline: true, sort: true, default_sort_column: '1') do |t|
            - t.header do |h|
              - @results_table_header.each do |header|
                - h.th do
                  = header
            - @results.each do |result|
              - t.row do |r|
                - r.td do
                  - ontologies = ""
                  - result[:ontologies].each do |ontology|
                    %a.recommender-result-ontology{href: ontology[:link]}
                      = ontology[:acronym]
                - r.td do
                  = render Display::ProgressBarComponent.new(progress: result[:final_score])
                - r.td do
                  = render Display::ProgressBarComponent.new(progress: result[:coverage_score])
                - r.td do
                  = render Display::ProgressBarComponent.new(progress: result[:acceptance_score])
                - r.td do
                  = render Display::ProgressBarComponent.new(progress: result[:details_score])
                - r.td do
                  = render Display::ProgressBarComponent.new(progress: result[:specialization_score])
                - r.td do
                  .recommender-result-highlighted{'data-action': 'change->recommender#handleHighlightedChange'}
                    = render Input::RadioChipComponent.new(label: result[:annotations].length.to_s, name: 'highlighted_recommendation', value: result[:annotations], checked: result[:highlighted])
                - r.td do
                  %a.recommender-result-ontology{href: '#'}
                    Get annotations
      

:javascript
  function handleInput(event) {
    var selectedInputChoice = document.querySelector('input[name="input_type"]:checked').value;
    if (selectedInputChoice === "2"){
      const textarea = document.getElementById('recommender-text-area');
      const value = textarea.value;
      const lastCharIsSpace = event.data === ' ';
      const formattedValue = lastCharIsSpace ? value.trim() + ', ' : value;
      textarea.value = formattedValue;
    }
  }

  
