.taxonomy-page-container
    .taxonomy-page-subcontainer 
        .taxonomy-page-title
            .text
                = t('taxonomy.groups_and_categories')
            .line
        .taxonomy-page-decription
            = t('taxonomy.description')

        = render TabsContainerComponent.new do |c|
            - c.item(title: 'Groups', selected: !@category_section_active)
            - c.item_content do
                = render partial: '/taxonomy/taxonomies', locals: { taxonomies: @groups }

            - c.item(title: 'Categories', selected: @category_section_active)
            - c.item_content do
                = render partial: '/taxonomy/taxonomies', locals: { taxonomies: @categories }
:javascript
    document.getElementById('categories_tab').addEventListener('click', function(event) {
        window.history.pushState({ path: '/categories' }, '', '/categories');
    })
    document.getElementById('groups_tab').addEventListener('click', function(event) {
        window.history.pushState({ path: '/groups' }, '', '/groups');
    })