.taxonomy-page-container
    .taxonomy-page-subcontainer 
        .taxonomy-page-title
            .text
                = t('taxonomy.groups_and_categories')
            .line
        .taxonomy-page-decription
            = t('taxonomy.description')

        = render TabsContainerComponent.new do |c|
            - c.item(title: 'Groups', selected: true)
            - c.item_content do
                = render partial: '/taxonomy/groupes'

            - c.item(title: 'Categories')
            - c.item_content do
                = render partial: '/taxonomy/categories'