- if @fair_scores_data
  %div#fair-details.statistics_container.d-flex.flex-grow-1{data:{controller:"fair-score-summary"}}
    %div.w-50
      = render partial: "shared/fair_score_radar" , locals: {data: @fair_scores_data}
    %div.w-50
      = render partial: "shared/fair_score_bars" , locals: {data: @fair_scores_data}
  %div.text-center
    - text = " <span>#{t("ontologies.see_details")}</span>"
    = link_to_modal(text.html_safe,
                  "/ajax/fair_score/html/?ontologies=#{@ontology.acronym}",
                  class: "btn",
                  id:'fair-details-link',
                  data: { show_modal_title_value: t("ontologies.fairness_assessment_questions"), show_modal_size_value: 'modal-xl' },
                  )
- else
  %p.font-italic= t("ontologies.collecting_data", acronym: @ontology.acronym)


:javascript
  jQuery(document).ready(() => {
     if(window.location.href.includes("#fair-details")){
        jQuery('#fair-details-link')[0].click()
     }
  })


