:javascript
  jQuery(document).ready(function() {
    if(window.location.href.includes("#fair-details")){
      jQuery('#fair-details').click()
    }
  })

- if @fair_scores_data
  %div.align-items-start
    .btn.btn-outline-primary.rounded-pill.center-button
      .span Total score : #{@fair_scores_data[:score]} ( #{@fair_scores_data[:normalizedScore]}% )
                class: "btn btn-primary w-100",
                data: { show_modal_title_value: "FAIRness assessment questions", show_modal_size_value: 'modal-xl' },
                )
  %div.statistics_container.d-flex
    %div.w-50
      = render partial: "shared/fair_score_radar" , locals: {data: @fair_scores_data}
    %div.w-50
      = render partial: "shared/fair_score_bars" , locals: {data: @fair_scores_data}
  %div
    - text = " <span class='badge badge-pill'>details</span>"
    = link_to_modal(text.html_safe,
                  "/ajax/fair_score/html/?ontologies=#{@ontology.acronym}",
                  class: "btn btn-primary w-45 d-block",
                  data: { show_modal_title_value: "FAIRness assessment questions", show_modal_size_value: 'modal-xl' },
                  )
- else
  %p.font-italic= "We are still collecting data for #{@ontology.acronym}"



