.d-flex.align-items-center.justify-content-center
    .ontologies-selector-container
        .ontologies-selector-input
            %input{type: 'text', placeholder: 'Filter ontologies ...'}
            = inline_svg_tag 'icons/search.svg'
        .ontologies-selector-options
            .switch-filters 
                .show-ontology-views 
                .show-retired-ontologies
            = render TabsContainerComponent.new do |c|
                - sections = ['Format', 'Categories', 'Groupes', 'Natural languages', 'Formality levels', 'Ontology types']                
                - sections.each do |section_title|
                    = c.item(title: section_title,
                            path: "#{section_title}path",
                            selected: section_title.eql?('Format'),
                            page_name: "#{section_title}path")
                    = c.item_content do
                        = section_title

            