.right_metadata
    .right_metadata-title-bar{"data-toggle" => "collapse", "data-target" => "#projects_section"}
        %p.fix-margin-buttom
            Projects and usage information
            = info_tooltip('projects')
        %img{alt: "", src: asset_path("summary/arrow-down.svg")}
    #projects_section.collapse.right-metadata-content
        .creation_info
            %div.description_text
                Projects using
                = @ontology.acronym
            = link_to(new_project_path(),  "aria-label": "Create new project", title: "Create new project", class: "mx-1 mt-1 projects-add-new") do
                = inline_svg_tag("summary/plus.svg")
        .projects_container
            - if @projects.empty?
                %p.font-italic= "No projects using #{@ontology.acronym}"
            - else
                - for project in @projects
                    = link_to(project_path(project.acronym)) do
                        %p.clickable_text= project.name
        = render partial: 'ontologies/sections/metadata/ontology_projects_section'