= render Layout::CardComponent.new do |c|
  - c.header(text: t("ontologies.sections.metadata.general_information"))
  = render Layout::ListComponent.new do |l|
    - l.row do
      %div
        - if @submission_latest&.abstract.blank?
          .creation_text.d-flex.align-items-center
            = render TextAreaFieldComponent.new(value: @submission_latest&.description)
            - unless @submission_latest&.logo.nil? || !link?(@submission_latest&.logo)
              = image_tag(@submission_latest&.logo, class: 'description_img ml-2', width: '145px')
        - else
          .d-flex.align-items-center
            = render FieldContainerComponent.new(label: t("ontologies.sections.metadata.abstract")) do
              .creation_text
                = render TextAreaFieldComponent.new(value: @submission_latest&.abstract)
            - unless @submission_latest&.logo.nil? || !link?(@submission_latest&.logo)
              = image_tag(@submission_latest&.logo, class: 'description_img ml-2', width: '145px')
          = render FieldContainerComponent.new(label: t("ontologies.sections.metadata.description")) do
            .creation_text
              = render TextAreaFieldComponent.new(value: @submission_latest&.description)

        


    - l.row do
      %div.creation_text
        - if @submission_latest&.released
          = t("ontologies.sections.metadata.initial_created_on")
          %span.date_creation_text= l(Date.parse(@submission_latest.released), format: :monthfull_day_year) + '.'
        - if @submission_latest&.contact
          = t("ontologies.sections.metadata.additional_information")
          %span
            #{display_contact(@submission_latest.contact).html_safe}.

    - unless Array(@submission_latest&.naturalLanguage).empty?
      - l.row do
        = render FieldContainerComponent.new(label: t("ontologies.sections.metadata.languages")) do
          = horizontal_list_container(Array(@submission_latest&.naturalLanguage)) do |v|
            = render LanguageFieldComponent.new(value: v)


    - categories = Array(@ontology&.hasDomain) 
    - subjects = Array(@submission_latest&.hasDomain)
    - unless categories.empty?
      - l.row do
        = render FieldContainerComponent.new(label: t("ontologies.sections.metadata.categories")) do
          = horizontal_list_container(show_ontology_domains(categories).uniq) do |v|
            = category_chip(v)
    - unless subjects.empty?
      - l.row do
        = render FieldContainerComponent.new(label: t("ontologies.sections.metadata.subjects")) do
          = horizontal_list_container(show_ontology_domains(subjects).uniq) do |v|
            = subject_chip(v)
    - unless  Array(@submission_latest&.keywords).empty? && Array(@submission_latest&.keyClasses).empty?
      - l.row do
        = render FieldContainerComponent.new(label: t("ontologies.sections.metadata.keywords")) do
          - values = Array(@submission_latest&.keywords)
          - values =  values.map{|x| x.split(',')}.flatten
          = horizontal_list_container(values) do |v|
            - if link?(v)
              = raw get_link_for_cls_ajax(v, @ontology.acronym, '_blank')
            - else
              = render ChipButtonComponent.new(text: v, type: "static")
    - if  @submission_latest&.pullLocation
      - l.row do
        = admin_block(class_css: '') do
          = render FieldContainerComponent.new(label: t("ontologies.sections.metadata.pull_location") ) do
            = horizontal_list_container([@submission_latest&.pullLocation]) do |v|
              %span.admin-background
                = render LinkFieldComponent.new(value: v)
  %hr.w-100.my-3
  .icons_container
    = ontology_icon_links(@ontology_icon_links, @submission_latest)
  %hr.w-100.my-3
  %div.text-center.pb-3
    = link_to_modal(nil, metadata_export_index_path(ontology: @ontology.acronym), {data: {show_modal_title_value: metadata_filled_count, show_modal_size_value: 'modal-xl' }}) do
      = t("ontologies.sections.metadata.export_metadata")
      
