= render SummarySectionComponent.new(title: "Metrics" , link: Rails.configuration.settings.links[:metrics], link_title: "View individual metrics definitions", show_card: false) do
  .metrics-container.metrics
    .metrics-item
      %hr/
      %div
        %h4
          = @metrics&.classes
        %p
          = link_to_modal "Classes", ontology_path(@ontology.acronym) + '/metrics_evolution?metrics_key=classes',
                    class: "", data: { show_modal_title_value: "Metrics evolution of #{@ontology.acronym}"}
    .metrics-item
      %hr/
      %div
        %h4
          = @metrics&.individuals
        %p
          = link_to_modal "Individuals", ontology_path(@ontology.acronym) + '/metrics_evolution?metrics_key=individuals',
                    class: "", data: { show_modal_title_value: "Metrics evolution of #{@ontology.acronym}"}

    .metrics-item
      %hr/
      %div
        %h4
          = @metrics&.properties
        %p
          = link_to_modal "Properties", ontology_path(@ontology.acronym) + '/metrics_evolution?metrics_key=properties',
                    class: "", data: { show_modal_title_value: "Metrics evolution of #{@ontology.acronym}"}

