= render TurboFrameComponent.new(id: "collections", data: {"turbo-frame-target": "frame"} ) do
  - if no_collections?
    = no_collections_alert
  - else
    %div.ont-collections{data:{controller: 'container-splitter'}}
      %div#collectionsTree.card.sidebar{data:{'container-splitter-target': 'container'}}
        = tree_container_component(id: "collections_sorted_list_view-page-1",
                                 placeholder:"Search an collection in #{@ontology.acronym}",
                                 frame_url:  "/collections/#{@ontology.acronym}",
                                 tree_url: "/collections/#{@ontology.acronym}?#{request.original_url.split('?')[1]}")

      %div#collection_contents.pl-3{data:{'container-splitter-target': 'container'}}
        = render TurboFrameComponent.new(id: 'collection') do
          - if @collection
            = render partial: 'collections/collection', locals: {collection: @collection}


