= turbo_frame_tag 'summary', target:"_top" do
  .summary-page-center
    .summary-page-container
      .summary-page-sub-container
        .summary-page-first-row
          .Summary-page-card
            %h4.summary-page-card-title General information
            .account-page-info-column
              %div{data:{controller:"text-truncate", 'text-truncate-more-text-value': 'See more...' , 'text-truncate-less-text-value': 'See less...'}}
                %p.description_text{'data-text-truncate-target': 'content'}
                  = "Thésaurus ouvert et partagé couvrant les domaines de recherche d’INRAE. Il sert de référentiel au sein de l’institut pour indexer et annoter des documents, pages web, descriptions d’activités, jeux de données, à des fins de recherche ou d’analyse de l’information. Il nous aide dans AgroPortal. Suppression de la relation Concept / topConcept / Scheme Thésaurus ouvert et partagé couvrant les domaines de recherche d’INRAE. Il sert de référentiel au sein de l’institut pour indexer et annoter des documents, pages web, descriptions d’activités, jeux de données, à des fins de recherche ou d’analyse de l’information. Il nous aide dans AgroPortal. Suppression de la relation Concept / topConcept / Scheme Thésaurus ouvert et partagé couvrant les domaines de recherche d’INRAE. Il sert de référentiel au sein de l’institut pour indexer et annoter des documents, pages web, descriptions d’activités, jeux de données, à des fins de recherche ou d’analyse de l’information. Il nous aide dans AgroPortal. Suppression de la relation Concept / topConcept / Scheme Thésaurus ouvert et partagé couvrant les domaines de recherche d’INRAE. Il sert de référentiel au sein de l’institut pour indexer et annoter des documents, pages web, descriptions d’activités, jeux de données, à des fins de recherche ou d’analyse de l’information. Il nous aide dans AgroPortal. Suppression de la relation Concept / topConcept / Scheme Thésaurus ouvert et partagé couvrant les domaines de recherche d’INRAE. Il sert de référentiel au sein de l’institut pour indexer et annoter des documents, pages web, descriptions d’activités, jeux de données, à des fins de recherche ou d’analyse de l’information. Il nous aide dans AgroPortal. Suppression de la relation Concept / topConcept / Scheme"
                %p.see_more_text{data:{'text-truncate-target': 'button', 'action':"click->text-truncate#toggle"}}
                  see more...
            - if @submission_latest.logo.nil?
              %img{height: "85", src: @submission_latest.logo, width: "189"}/
            %div
              %p.description_text{style: "text-decoration-line: underline;"}
                = link_to_modal('Additionnal Metadata...', "/ajax/submission/show_additional_metadata/#{@ontology.acronym}",data: { show_modal_title_value: "Additional Metadata", show_modal_size_value: 'modal-xl' })               
              %p.description_text Contact
              %p.summary-page-card-title 
                = @submission_latest.contact.map {|c| [c.name, c.email].join(", ") if c.member?(:name) && c.member?(:email)}.join("<br/>")
              %p.description_text Keywords and Key Classes
              .keywords_keyclasses_section
                %p.non_clickable_text 
                = @submission_latest.keywords
                %a{href: "#", style: "text-decoration: none;"}
                %p.clickable_text 
                = @submission_latest.keyClasses
            - if @submission_latest.hasDomain&.nil? 
                %p.clickable_text Forest Science and Forest Products
                %p.non_clickable_text Natural Resources
              %p.description_text Categories and Domains
              .categories_section
                .categories_box
                  %p.non_clickable_text 
                    = @submission_latest.hasDomain
                  %p.non_clickable_text Technology and Engineering
                .categories_box
                  %p.non_clickable_text Fisheries and Aquaculture
                .categories_box
                  %p.non_clickable_text knowledge and information systems
                .categories_box
                  %p.non_clickable_text Earth and Environment
            .icons_container
              %a{href: "#", style: "text-decoration: none;"}
                %img{src: asset_path("summary/download.svg")}/
              %a{href: "#", style: "text-decoration: none;"}
                %img{src: asset_path("summary/homepage.svg")}/
              %a{href: "#{@submission_latest.documentation}", style: "text-decoration: none;"}
                %img{src: asset_path("summary/documentation.svg")}/
              %a{href: "#", style: "text-decoration: none;"}
                %img{src: asset_path("summary/github.svg")}/
              %a{href: "#", style: "text-decoration: none;"}
                %img{src: asset_path("summary/sparql.svg")}/
            .creation_info
              %p.creation_text Originally created on
              %p.date_creation_text 
                = @submission_latest.released
              %p.creation_text by
              %p.creator_text
                = @submission_latest.hasCreator
          %h2.card_title FAIR score
          %hr#section_focused_line_fairScore
          .Summary-page-card
            .summary-page-card-container
            - if fairness_service_enabled? && @ontology.acronym != 'AGROVOC'
              %section.ont-metadata-card.ont-fair-score-card#fair-summary
                %div.ont-section-toolbar
                  %header.pb-2.font-weight-bold
                    = render partial: "fair_score/fair_service_header"
              %div#fair-score-charts-container
                = render partial: "fairs_score"
              .account-page-card-sub-container
          %h2.card_title Ontology relations network
          %hr#section_focused_line_networkRelation
          .Summary-page-card
            .summary-page-card-container
              .account-page-card-sub-container
                = render partial: 'ontologies/sections/metadata/ontology_relations_network'


          %h2.card_title Versions
          %hr#section_focused_line_fairScore/
          .Summary-page-card
          %h2.card_title.d-flex.align-items-center
            %span.mr-2
              Metrics
            %span
              = link_to(Rails.configuration.settings.links[:metrics], target: "_blank", "aria-label": "View individual metrics definitions", title: "View individual metrics definitions") do
                %i.fas.fa-lg.fa-question-circle{style: "color: var(--primary-color)"}
          %hr#section_focused_line_metrics/
          .metrics-container.metrics 
            .metrics
            .metrics-item
              %hr/
              %div
                %h4 
                  = @metrics.classes
                %p Classes
            .metrics-item
              %hr/
              %div
                %h4 
                  = @metrics.individuals
                %p Individuals
            .metrics-item
              %hr/
              %div
                %h4 
                  = @metrics.properties
                %p Properties
        .summary-page-second-row
          - depiction_url = @submission_latest.depiction
          - unless depiction_url.nil?
            .right_metadata
              .depiction
                %img{src: depiction_url}
              %a{href: "#"}
                .loop_icon
                  - img = "<img src='#{asset_path("summary/loop.svg")}'/>"
                  = link_to_modal(img.html_safe, "/ajax/submission/show_depiction?depiction_url=#{depiction_url}",data: { show_modal_title_value: "Depiction", show_modal_size_value: 'modal-xl' })
  
          .right_metadata
            .right_metadata-title-bar{"data-toggle" => "collapse", "data-target" => "#link_metadata_section"}
              %p.fix-margin-buttom 
                Links
              %img{alt: "", src: asset_path("summary/arrow-down.svg")}/
            #link_metadata_section.collapse.right-metadata-content
              .creation_info
                %p.description_text 
                  Is Format Of
              %p.normal_text 
                = @submission_latest.isFormatOf
              .creation_info
                %p.description_text 
                  Has Format 
              %p.normal_text 
                = @submission_latest.hasFormat
              .creation_info
                %p.description_text 
                  Accesss URL
              %p.normal_text 
                = @submission_latest.pullLocation
              .creation_info
                %p.description_text 
                  Source
              %p.normal_text 
                = @submission_latest.source
              .creation_info
                %p.description_text 
                  Was generated by
              %p.normal_text
                = @submission_latest.wasGeneratedBy
              .creation_info
                %p.description_text 
                  Was invalidated by
              %p.normal_text 
                = @submission_latest.wasInvalidatedBy
              .creation_info
                %p.description_text
                  Competency question
              %p.normal_text
                Quels sont les noms vernaculaires dune plante cultivée sur le territoire français?
          .depiction
            %img{src: asset_path("summary/depiction.svg")}/
            %a{href: "#"}
              .loop_icon
                %img{src: asset_path("summary/loop.svg")}/
          .right_metadata
            .right_metadata-title-bar{"data-toggle" => "collapse", "data-target" => "#identifiers_metadata_section"}
              %p.fix-margin-buttom
                Identifiers 
              %img{alt: "", src: asset_path("summary/arrow-down.svg")}/
            #identifiers_metadata_section.collapse.right-metadata-conetent
              .creation_info
                %p.description_text 
                  URI
              %p.normal_text 
                = @submission_latest.URI
              .creation_info
                %p.description_text 
                  VersionIRI
              %p.normal_text 
                = @submission_latest.versionIRI
              .creation_info
                %p.description_text 
                  Identifier
              %p.normal_text 
                = @submission_latest.identifier
              .creation_info
                %p.description_text
                  Knowledge representation paradigm
              %p.normal_text
                knowledge graph
              .creation_info
                %p.description_text
                  Engineering methodology
              %p.normal_text
                Follow the OBO Principle, used Protégé and the Ontology Development Kit.
              .creation_info
                %p.description_text
                  Created With
              %p.normal_text
                http://protege.stanford.edu/
              .creation_info
                %p.description_text
                  Competency question
              %p.normal_text
                Quels sont les noms vernaculaires dune plante cultivée sur le territoire français?
              %p Identifiers
              %img{alt: "", src: asset_path("summary/arrow-down.svg")}/
          .right_metadata
            .right_metadata-title-bar{"data-toggle" => "collapse", "data-target" => "#persons_orgs_metadata_section"}
              %p.fix-margin-buttom
                Persons and organizations
              %img{alt: "", src: asset_path("summary/arrow-down.svg")}/
            #persons_orgs_metadata_section.collapse.right-metadata-conetent
              .creation_info
                %p.description_text 
                  Creators
              %p.normal_text 
                = @submission_latest.accrualMethod
              .creation_info
                %p.description_text 
                  Contributors
              %p.normal_text 
                Monthly
              .creation_info
                %p.description_text 
                  Curators
              %p.normal_text 
                https://www.fao.org/agrovoc/maintenance
              .creation_info
                %p.description_text 
                  Translator
              %p.normal_text 
                knowledge graph
              .creation_info
                %p.description_text 
                  Publisher
              %p.normal_text
                Follow the OBO Principle, used Protégé and the Ontology Development Kit.
              .creation_info
                %p.description_text 
                  Funded By
              %p.normal_text 
                http://protege.stanford.edu/
              .creation_info
                %p.description_text 
                  Endorsed By
              %p.normal_text
                Quels sont les noms vernaculaires dune plante cultivée sur le territoire français?
              .creation_info
                %p.description_text 
                  CopyRight Holder
              %p.normal_text 
                = @submission_latest.accrualMethod
          .right_metadata
            .depiction
              .vists_image
                %p Visits
                - if visits_data(@ontology)
                  = link_to(@ontology.links["analytics"] + "?apikey=#{get_apikey}&format=csv", "aria-label": "Download as CSV", title: "Download as CSV") do
                    %img{alt: "", src: asset_path("summary/arrow_down.svg")}
              = render partial: "visits"
          .right_metadata
            .depiction
              %div{class: ".caintainer_vertical"}
              %a{href: "#"}
                .openup_icon_projects
                  %img{src: asset_path("summary/openUp.svg")}/
              .projects_card
                %p Projects and usage information
                %img{src: asset_path("summary/info.svg")}/
              %a{href: "#"}
                .openup_icon_projects
                  - img = "<img src='#{asset_path("summary/openUp.svg")}'/>"
                  = link_to_modal(img.html_safe,"/ajax/submission/show_projects/#{@ontology.acronym}",data: { show_modal_title_value: "Usage", show_modal_size_value: 'modal-xl' })               
            .creation_info
              %p.description_text Projects using
              %p.projects_using_onto_text 
                = @ontology.acronym
              .projects_info
                %img{src: asset_path("summary/plus.svg")}/
            %a{href: "#", style: "text-decoration: none;"}
              %p.clickable_text Agrisemantics Map of Data Standards
            %a{href: "#", style: "text-decoration: none;"}
              %p.clickable_text GO FAIR Food Systems Implementation Network
            %a{href: "#", style: "text-decoration: none;"}
              %p.clickable_text Data to Know ledge in Agronomy and Biodiversity
            %a{href: "#", style: "text-decoration: none;"}
              %p.clickable_text RDA Wheat Interoperability Working Group
          .depiction
            .caintainer_vertical
              .projects_card
                %p Methodology
                %img{src: asset_path("summary/info.svg")}/
            .creation_info
              %p.description_text Accrual method
            %p.normal_text http://www.fao.org/agrovoc/maintenance
            .creation_info
              %p.description_text Accrual periodicity
            %p.normal_text Monthly
            .creation_info
              %p.description_text Accrual policy
            %p.normal_text https://www.fao.org/agrovoc/maintenance
            .creation_info
              %p.description_text Knowledge representation paradigm
            %p.normal_text knowledge graph
            .creation_info
              %p.description_text Engineering methodology
            %p.normal_text
              Follow the OBO Principle, used Protégé and the Ontology Development Kit.
            .creation_info
              %p.description_text Created With
            %p.normal_text http://protege.stanford.edu/
            .creation_info
              %p.description_text Competency question
            %p.normal_text
              Quels sont les noms vernaculaires dune plante cultivée sur le
              territoire français?
          .Summary-page-card
            %h2.card_title_2 Get my metadata back
            %hr#section_focused_line_fairScore/
            .metadata_back_button
              .metadata_back_buttons
                %p N-Triple
              .metadata_back_buttons
                %p Json-LD
              .metadata_back_buttons
                %p RDF/XML