= turbo_frame_tag 'summary', target:"_top" do
  .summary-page-center
    .summary-page-container
      .summary-page-sub-container
        .summary-page-first-row
          .Summary-page-card
            %h4.summary-page-card-title General information
            .account-page-info-column.container
              %div
                %p.description_text
                  = @submission_latest.description
                %p.see_more_text ...see more
              %img{height: "85", src: asset_path("summary/logo.png", width: "189")}/
            %div
              %p.description_text{style: "text-decoration-line: underline;"}
                Additionnal Metadata...
              %p.description_text Contact
              %p.summary-page-card-title AGROVOC, AGROVOC@fao.org
              %p.description_text Keywords and Key Classes
              .keywords_keyclasses_section
                %p.non_clickable_text Agriculture
                %a{href: "#", style: "text-decoration: none;"}
                %p.clickable_text Forest Science and Forest Products
                %p.non_clickable_text Fisheries and Aquaculture
                %a{href: "#", style: "text-decoration: none;"}
                %p.clickable_text Forest Science and Forest Products
                %p.non_clickable_text Natural Resources
              %p.description_text Categories and Domains
              .categories_section
                .categories_box
                  %p.non_clickable_text Agricultural Research
                .categories_box
                  %p.non_clickable_text Technology and Engineering
                .categories_box
                  %p.non_clickable_text Fisheries and Aquaculture
                .categories_box
                  %p.non_clickable_text knowledge and information systems
                .categories_box
                  %p.non_clickable_text Earth and Environment
              .icons_container
                %a{href: "#", style: "text-decoration: none;"}
                  %img{src: asset_path("summary/download.svg")}/
                %a{href: "#", style: "text-decoration: none;"}
                  %img{src: asset_path("summary/homepage.svg")}/
                %a{href: "#", style: "text-decoration: none;"}
                  %img{src: asset_path("summary/documentation.svg")}/
                %a{href: "#", style: "text-decoration: none;"}
                  %img{src: asset_path("summary/github.svg")}/
                %a{href: "#", style: "text-decoration: none;"}
                  %img{src: asset_path("summary/sparql.svg")}/
              .creation_info
                %p.creation_text Originally created on
                %p.date_creation_text 11/10/2022
                %p.creation_text by
                %p.creator_text
                  = @submission_latest.hasCreator
          %h2.card_title FAIR score
          %hr#section_focused_line_fairScore/
          .Summary-page-card
            .summary-page-card-container
              .account-page-card-sub-container
          %h2.card_title Ontology relations network
          %hr#section_focused_line_networkRelation/
          .Summary-page-card
            .summary-page-card-container
              .account-page-card-sub-container
          %h2.card_title Versions
          %hr#section_focused_line_fairScore/
          .Summary-page-card
          %h2.card_title Metrics
          %hr#section_focused_line_metrics/
          .metrics-container
            .metrics
              .metrics-item
                %hr/
                %div
                  %h4 34
                  %p Classes
              .metrics-item
                %hr/
                %div
                  %h4 1,052,039
                  %p Individuals
              .metrics-item
                %hr/
                %div
                  %h4 209
                  %p Properties
        .summary-page-second-row
          .right_metadata
            .depiction
              %img{src: asset_path("summary/depiction.svg")}/
              %a{href: "#"}
                .loop_icon
                  %img{src: asset_path("summary/loop.svg")}/
          .right_metadata
            .right_metadata-title-bar{"data-toggle" => "collapse", "data-target" => "#link_metadata_section"}
              %p Links
              %img{alt: "", src: asset_path("summary/arrow-down.svg")}/
            #link_metadata_section.collapse.right-metadata-content
              .creation_info
                %p.description_text 
                  Accrual method
              %p.normal_text 
                = @submission_latest.accrualMethod
              .creation_info
                %p.description_text 
                  Accrual periodicity
              %p.normal_text 
                Monthly
              .creation_info
                %p.description_text 
                  Accrual policy
              %p.normal_text 
                https://www.fao.org/agrovoc/maintenance
              .creation_info
                %p.description_text 
                  Knowledge representation paradigm
              %p.normal_text 
                knowledge graph
              .creation_info
                %p.description_text 
                  Engineering methodology
              %p.normal_text
                Follow the OBO Principle, used Protégé and the Ontology Development Kit.
              .creation_info
                %p.description_text 
                  Created With
              %p.normal_text 
                http://protege.stanford.edu/
              .creation_info
                %p.description_text 
                  Competency question
              %p.normal_text
                Quels sont les noms vernaculaires dune plante cultivée sur le territoire français?
          .depiction
            %img{src: asset_path("summary/depiction.svg")}/
            %a{href: "#"}
              .loop_icon
                %img{src: asset_path("summary/loop.svg")}/
          .right_metadata
            .right_metadata-title-bar{"data-toggle" => "collapse", "data-target" => "#identifiers_metadata_section"}
              %p Identifiers 
              %img{alt: "", src: asset_path("summary/arrow-down.svg")}/
            #identifiers_metadata_section.collapse.right-metadata-conetent
              .creation_info
                %p.description_text 
                  Accrual method
              %p.normal_text 
                = @submission_latest.accrualMethod
              .creation_info
                %p.description_text 
                  Accrual periodicity
              %p.normal_text 
                Monthly
              .creation_info
                %p.description_text 
                  Accrual policy
              %p.normal_text 
                https://www.fao.org/agrovoc/maintenance
              .creation_info
                %p.description_text 
                  Knowledge representation paradigm
              %p.normal_text 
                knowledge graph
              .creation_info
                %p.description_text 
                  Engineering methodology
              %p.normal_text
                Follow the OBO Principle, used Protégé and the Ontology Development Kit.
              .creation_info
                %p.description_text 
                  Created With
              %p.normal_text 
                http://protege.stanford.edu/
              .creation_info
                %p.description_text 
                  Competency question
              %p.normal_text
                Quels sont les noms vernaculaires dune plante cultivée sur le territoire français?
              %p Identifiers
              %img{alt: "", src: asset_path("summary/arrow-down.svg")}/
          .right_metadata
            .right_metadata-title-bar{"data-toggle" => "collapse", "data-target" => "#persons_orgs_metadata_section"}
              %p Persons and organizations
              %img{alt: "", src: asset_path("summary/arrow-down.svg")}/
            #persons_orgs_metadata_section.collapse.right-metadata-conetent
              .creation_info
                %p.description_text 
                  Accrual method
              %p.normal_text 
                = @submission_latest.accrualMethod
              .creation_info
                %p.description_text 
                  Accrual periodicity
              %p.normal_text 
                Monthly
              .creation_info
                %p.description_text 
                  Accrual policy
              %p.normal_text 
                https://www.fao.org/agrovoc/maintenance
              .creation_info
                %p.description_text 
                  Knowledge representation paradigm
              %p.normal_text 
                knowledge graph
              .creation_info
                %p.description_text 
                  Engineering methodology
              %p.normal_text
                Follow the OBO Principle, used Protégé and the Ontology Development Kit.
              .creation_info
                %p.description_text 
                  Created With
              %p.normal_text 
                http://protege.stanford.edu/
              .creation_info
                %p.description_text 
                  Competency question
              %p.normal_text
                Quels sont les noms vernaculaires dune plante cultivée sur le territoire français?
          .depiction
            .vists_image
              %p Visits
              %img{alt: "", src: asset_path("summary/arrow_down.svg")}/
            %img{src: asset_path("summary/test_visits.svg")}/
          .depiction
            %div{class: ".caintainer_vertical"}
              .projects_card
                %p Projects and usage information
                %img{src: asset_path("summary/info.svg")}/
              %a{href: "#"}
                .openup_icon_projects
                  %img{src: asset_path("summary/openUp.svg")}/
            .projects_card
              %p Projects and usage information
              %img{src: asset_path("summary/info.svg")}/
            %a{href: "#"}
              .openup_icon_projects
                %img{src: asset_path("summary/openUp.svg")}/
            .creation_info
              %p.description_text Projects using
              %p.projects_using_onto_text AGROVOC
              .projects_info
                %img{src: asset_path("summary/plus.svg")}/
            %a{href: "#", style: "text-decoration: none;"}
              %p.clickable_text Agrisemantics Map of Data Standards
            %a{href: "#", style: "text-decoration: none;"}
              %p.clickable_text GO FAIR Food Systems Implementation Network
            %a{href: "#", style: "text-decoration: none;"}
              %p.clickable_text Data to Knowledge in Agronomy and Biodiversity
            %a{href: "#", style: "text-decoration: none;"}
              %p.clickable_text RDA Wheat Interoperability Working Group
          .depiction
            .caintainer_vertical
              .projects_card
                %p Methodology
                %img{src: asset_path("summary/info.svg")}/
            .creation_info
              %p.description_text Accrual method
            %p.normal_text http://www.fao.org/agrovoc/maintenance
            .creation_info
              %p.description_text Accrual periodicity
            %p.normal_text Monthly
            .creation_info
              %p.description_text Accrual policy
            %p.normal_text https://www.fao.org/agrovoc/maintenance
            .creation_info
              %p.description_text Knowledge representation paradigm
            %p.normal_text knowledge graph
            .creation_info
              %p.description_text Engineering methodology
            %p.normal_text
              Follow the OBO Principle, used Protégé and the Ontology Development Kit.
            .creation_info
              %p.description_text Created With
            %p.normal_text http://protege.stanford.edu/
            .creation_info
              %p.description_text Competency question
            %p.normal_text
              Quels sont les noms vernaculaires dune plante cultivée sur le
              territoire français?
          .Summary-page-card
            %h2.card_title_2 Get my metadata back
            %hr#section_focused_line_fairScore/
            .metadata_back_button
              .metadata_back_buttons
                %p N-Triple
              .metadata_back_buttons
                %p Json-LD
              .metadata_back_buttons
                %p RDF/XML