= render TurboFrameComponent.new(id: "schemes", data: {"turbo-frame-target": "frame"} ) do
  %div.ont-schemes{data:{controller: 'container-splitter'}}
    %div#schemesTree.card.sidebar.pt-2{data:{'container-splitter-target': 'container'}}
      - if no_schemes?
        = no_schemes_alert
      - else
        = tree_container_component(id: "schemes_sorted_list_view-page-1",
                                 placeholder:"Search an scheme in #{@ontology.acronym}",
                                 frame_url:  "/schemes/#{@ontology.acronym}?#{request.original_url.split('?')[1]}",
                                 tree_url: "/schemes/#{@ontology.acronym}?#{request.original_url.split('?')[1]}")

    %div#scheme_contents.pl-3{data:{'container-splitter-target': 'container'}}
      = render TurboFrameComponent.new(id:'scheme') do
        = render partial: 'schemes/scheme', locals: {scheme: @scheme}



