= render TurboFrameComponent.new(id: "properties", data: {"turbo-frame-target": "frame"} ) do
  - if no_properties?
    = no_properties_alert
  - else
    %div.ont-properties{data: {controller: 'container-splitter turbo-frame', 'turbo-frame-url-value': "/ontologies/#{@ontology.acronym}/properties/show"}}
      %div.sidebar.position-relative.card{data: {'container-splitter-target': 'container', action: 'change->turbo-frame#updateFrame'}}
        = tree_container_component(id: 'properties_sorted_list_view-page-1',
                                   placeholder: t('ontologies.sections.properties_search_placeholder', acronym: @ontology.acronym),
                                   frame_url: "/ontologies/#{@ontology.acronym}/properties",
                                   tree_url:  "/ontologies/#{@ontology.acronym}/properties?propertyid=#{escape(params[:propertyid])}&ontology=#{@ontology.acronym}&auto_click=false&language=#{request_lang}")

      %div#prop_contents{data: {'container-splitter-target': 'container'}}
        = render partial: 'properties/show'
