= render TurboFrameComponent.new(id: "browse_#{@key}_filters_container") do
    .browse-filter-checks-container
        - @values.first.each do |object|
            - title = (@key.eql?(:categories) || @key.eql?(:groups)) ? nil : ''
            = group_chip_component(name: @key, object: object, checked: @values[1].any?(link_last_part(object["id"])) ||  @values[1].any?(link_last_part(object["value"])) , title: title) do |c|
                - c.count do
                    %span.badge.badge-light.ml-1
                        = turbo_frame_tag "count_#{@key}_#{link_last_part(object["id"])}", busy: true
                        %span.show-if-loading
                            = render LoaderComponent.new(small:true)