.browse-center
  .browse-container
    .container.align-alert
      - if current_user_admin?
        %div{style:'width: 70%;'}
          = render Display::AlertComponent.new(type: 'info') do
            %span.d-flex.align-items-center
              %svg{:fill => "none", :height => "11", :viewbox => "0 0 11 11", :width => "11", :xmlns => "http://www.w3.org/2000/svg"}
                %circle{:cx => "5.5", :cy => "5.5", :fill => 'var(--admin-color)', :r => "5.5"}
              %p{style: "margin: 10px"}= t("ontologies.browser.admin_welcome")
    .browse-submit-new-ontology-and-you-are-admin-container
    %a#back_top_btn.btn.btn-primary.btn-floating.btn-lg
      %i.fas.fa-arrow-up.text-white

    :javascript
      const btn = document.getElementById("back_top_btn");
      window.addEventListener("scroll", function() {
        if (window.scrollY > 300) {
          btn.classList.add("show");
        } else {
          btn.classList.remove("show");
        }
      });

      btn.addEventListener("click", function(e) {
        e.preventDefault();
        window.scrollTo({
          top: 0,
          behavior: "smooth"
        });
      });

    %div{data: { controller: "turbo-frame history browse-filters" , "turbo-frame-url-value": "/ontologies_filter?page=1&#{request.original_url.split('?').last}", action: "change->browse-filters#dispatchFilterEvent changed->history#updateURL changed->turbo-frame#updateFrame"}}

      .browse-sub-container
        .browse-first-row
          %div.pt-1
            = upload_ontology_button
          %div{style:'margin-top: 30px'}
            %p.browse-filters-title= t("ontologies.filters")
            - if current_user_admin?
              %div.browse-filter.admin-border
                = switch_input(id:'filter-private', name:'private_only', checked: @show_private_only, label: t("ontologies.browser.show_private_ontology"))
            %div.browse-filter
              = switch_input(id:'filter-views', name:'views', checked: @show_views, label: t("ontologies.browser.show_ontology_views"))
              = switch_input(id:'filter-retired', name:'retired',checked: @show_retired , label: t("ontologies.browser.show_retired_ontologies"))

            - @filters.each do |key, values|
              %div{ id: "#{key}_filter_container", data:{controller: "browse_filters show-filter-count",
                  action: "change->show-filter-count#updateCount
                           change->browse-filters#dispatchFilterEvent"}}
                - objects, checked_values, count = values
                = dropdown_component(id: "browse-#{key}-filter", is_open: count.positive?) do |d|
                  - d.title { browse_filter_section_header(key: key, count: count)}
                  = browse_filter_section_body(key: key, checked_values: checked_values, objects: objects)

            - if federation_enabled?
              %div{ data:{action: "change->browse-filters#federationChange"}}
                = dropdown_component(id: "browse-portal-filter", is_open: !request_portals.empty?) do |d|
                  - d.title { browse_filter_section_header(title: t('federation.results_from_external_portals'))}
                  .px-1.browse-federation-input-chips
                    = federation_input_chips(name: "portals")

        .browse-second-row
          .browse-search-bar
            .browse-search-container
              %input{:name => "search", :placeholder => t("ontologies.browser.search_placeholder"), :type => "text", :value => @search, data: {action: "input->browse-filters#dispatchInputEvent"}}
              .browse-search-filters
                %select#format.browse-format-filter{:name => "format"}
                  = options_for_select(@formats, @selected_format)
                %select#Sort_by.browse-sort-by-filter{name: "Sort_by", 'data-browse-filters-target': "sort"}
                  = options_for_select(@sorts_options, @sort_by)
          .browse-ontologies
            = render TurboFrameComponent.new(id: "ontologies_list_view-page-1" , src: "/ontologies_filter?page=1&#{request.original_url.split('?').last}", data:{"turbo-frame-target":"frame", "turbo-frame-url-value": "/ontologies_filter"}) do |list|
              - list.loader do
                = browser_counter_loader
                - ontologies_browse_skeleton
