= render TurboFrameComponent.new(id: 'concept_show', data: {controller:'labels-ajax-container', 'action': 'turbo:before-fetch-request->labels-ajax-container#abortAll', 'labels-ajax-container-label-ajax-outlet': '#concept_show a[data-controller="label-ajax"]'}) do
  - if @concept.id.eql?("bp_fake_root")
    = render Display::AlertComponent.new do
      = t('concepts.use_jump_to')
  - else
    %div{'data-controller': 'concepts-json', 'data-action': 'click->concepts-json#update'}
      = render TabsContainerComponent.new(type:'outline') do |c|
        - c.pinned_right do
          - if $PURL_ENABLED
            %div.mx-1
              = link_to("#classPermalinkModal", class: "class-permalink nav-link", title: t('concepts.permanent_link_class'), aria: {label: t('concepts.permanent_link_class')}, data: {toggle: "modal", current_purl: "#{@current_purl}"}) do
                %i{class: "fas fa-link", aria: {hidden: "true"}}
          %div{'data-concepts-json-target': 'button'}
            .concepts_json_button
              = render RoundedButtonComponent.new(link: "#{@ontology.id}/classes/#{escape(@concept.id)}?display=all&apikey=#{get_apikey}", target:'_blank')
        - apikey = "apikey=#{get_apikey}"
        - baseClassUrl = "#{@ontology.id}/classes/#{escape(@concept.id)}"
        - c.item(title: t('concepts.details'), path: '#details', selected: true, json_link: "#{baseClassUrl}?#{apikey}&display=all")

        - unless skos?
          - c.item(id: 'instances', path: '#instances', json_link: "#{baseClassUrl}/instances?#{apikey}") do
            = t('concepts.instances')
            (
            %span#concept_instances_sorted_list_count
            )

        - c.item(title: t('concepts.visualization'), path: '#visualization')

        - c.item(id: 'notes', path: '#notes', json_link: "#{baseClassUrl}/notes?#{apikey}") do
          = t('concepts.notes')
          %span#note_count_wrapper
            (
            %span#note_count= @notes.length
            )
        - c.item(id: 'mappings', path: '#mappings', json_link: "#{baseClassUrl}/mappings?#{apikey}") do
          .d-flex
            #{t('concepts.mappings')}
            (
            = concept_mappings_loader(ontology_acronym: @ontology.acronym, concept_id: @concept.id)
            )

        - if @enable_ontolobridge
          - c.item(title: t('concepts.new_term_requests'), path: '#request_term')

        - c.item_content do
          = render :partial =>'/concepts/details'

        - unless skos?
          - c.item_content do
            = render :partial =>'instances/instances' , locals: {id: "class-instances-data-table"}
        - c.item_content do
          = render :partial =>'/concepts/biomixer'

        - c.item_content do
          = render :partial =>'/notes/list'

        - c.item_content do
          = render TurboFrameComponent.new(id:'concept_mappings',
          src:"/ajax/mappings/get_concept_table?ontologyid=#{@ontology.acronym}&conceptid=#{CGI.escape(@concept.id)}")

        - if @enable_ontolobridge
          - c.item_content do
            = render :partial =>'/concepts/request_term'

    :javascript
      jQuery(document).ready(function(){
        jQuery("#classPermalinkModal").on("shown.bs.modal", function (e) {
        var currentPurl = jQuery("a.class-permalink").data("current-purl");
        jQuery("#purl_input").val(currentPurl);
        })

        jQuery("#purl_input").on("click", function () {
        jQuery(this).select();
        });
      });
