%tr.human{:id => category.id.split('/').last}
  - count = category.ontologies&.size || 0 
  - is_parent, parent_error_message = category_is_parent?(@parents_list, category)
  %td
    %div{style: 'width: 250px'}
      %div.text-truncate{title: category.name}
        = category.name
  %td
    = category.description
  %td
    = category.created
  %td
    = category.acronym
  %td
    = link_to count , "/ontologies?categories=#{category.id.split('/').last}", target: "_blank"
  %td
    %div.d-flex.align-items-center{style: 'width: 250px'}
      %span.mx-1
        = link_to_modal(nil, edit_admin_category_path(category.id.split('/').last), data: {show_modal_title_value:  category.name}) do
          = t('admin.categories.edit_button')
      %span
        - if !count.zero?
          %span{data: { controller: 'tooltip' }, title: t('admin.categories.info_error_delete')}
            = link_to t('admin.categories.delete'), "", class: 'btn btn-link disabled'
        - elsif is_parent
          %span{data: { controller: 'tooltip' }, title: parent_error_message}
            = link_to t('admin.categories.delete'), "", class: 'btn btn-link disabled'
        - else
          = button_to t('admin.categories.delete'), CGI.unescape(admin_category_path(category.id.split('/').last)), method: :delete, class: 'btn btn-link',  form: {data: { turbo: true, turbo_confirm: t('admin.categories.turbo_confirm'), turbo_frame: '_top'}}
