= form_for(:user , :url=>{:controller=>'login',:action=>'send_pass'}) do
  .d-flex.justify-content-center.m-4
    .lost-password-form
      .d-flex.justify-content-between
        %a{:href => "javascript:javascript:history.go(-1)"}
          %img.lost-password-arrowback{:src => "#{asset_path("arrow-back.svg")}"}/
        .lost-password-title-container
          %h2.lost-password-title
            = t('login.recover_password')
          %hr#lost-password-title-line/
        %div
      %p.lost-password-description= t('login.email_address_associated')
      %p.lost-password-input-title= t('login.email')
      = text_field :user, :email,class: "lost-password-input", placeholder: t('login.email_placeholder')
      %input.lost-password-button{:type => "submit", :value => t('login.send_instructions')}/
