%div#mapping_to_content.form-group.my-3
  - disabled = concept_to || @map_to_interportal || @map_to_external_ontology
  - if disabled
    = hidden_field_tag :mapping_type, @mapping_type
    = hidden_field_tag :map_to_bioportal_full_id, concept_to.id
    = hidden_field_tag :map_to_bioportal_ontology_id, @map_to_bioportal_ontology_id
    = hidden_field_tag :map_to_interportal, @map_to_interportal
    = hidden_field_tag :map_to_interportal_ontology, @map_to_interportal_ontology
    = hidden_field_tag :map_to_interportal_class, @map_to_interportal_class
    = hidden_field_tag :map_to_external_ontology, @map_to_external_ontology
    = hidden_field_tag :map_to_external_class, @map_to_external_class

  %div.form-group
    %lable= t("mappings.mapping_type_selector.mapping_type")
    %div#display_options.mb-3
      %div.form-group
        %div.custom-control.custom-radio.custom-control-inline
          = radio_button_tag "mapping_type", "internal", type?('internal'), {id: 'internal_form_radio', class:'mapping_radio custom-control-input',data: {target:"#internal_form"}, disabled: disabled}
          %label.custom-control-label{for: "internal_form_radio"}= t("mappings.mapping_type_selector.internal")
        %div.custom-control.custom-radio.custom-control-inline
          = radio_button_tag "mapping_type", "interportal", type?('interportal'), {id: 'interportal_form_radio', class:'mapping_radio custom-control-input',data: {target:"#interportal_form"}, disabled: disabled}
          %label.custom-control-label{for: "interportal_form_radio"}= t("mappings.mapping_type_selector.interportal")
        %div.custom-control.custom-radio.custom-control-inline
          = radio_button_tag "mapping_type", "external", type?('external'), {id: 'external_form_radio', class:'mapping_radio custom-control-input', data: {target:"#external_form"}, disabled: disabled}
          %label.custom-control-label{for: "external_form_radio"}= t("mappings.mapping_type_selector.external")


    %div#internal_form.mapping_form{style: "display: #{type?('internal') ? 'block':'none'}"}
      %div.form-group
        %label{for: "map_to"}= t("mappings.mapping_type_selector.target_class")
        - if disabled
          = text_field_tag('', concept_to.id, class: "form-control", disabled: true)
        - else
          = render partial: 'shared/concept_picker', locals: {name: :map_to, concept_label: concept_to&.label, ontology_acronym: 'all' , include_definition: true}
      %div.form-group
        %label{for: "map_to_concept_details_table"}= t("mappings.mapping_type_selector.details")
        %div#map_to_concept_details_table.form-control
          = render TurboFrameComponent.new(id:'concept_details')
    %div#interportal_form.mapping_form{style: "display: #{type?('interportal') ? 'block':'none'}"}
      %div.form-group
        %label{for: :map_to_interportal}= t("mappings.mapping_type_selector.interportal")
        - options = interportal_options
        = select_tag :map_to_interportal, options_for_select(options, @map_to_interportal), class: "form-control", disabled: disabled
      %div.form-group
        %label{for:  :map_to_interportal_ontology}= t("mappings.mapping_type_selector.ontology_acronym")
        = text_field_tag :map_to_interportal_ontology, @map_to_interportal_ontology, placeholder: t("mappings.mapping_type_selector.ontology_acronym_placeholder"), class: "form-control", disabled: disabled
      %div.form-group
        %label{for:  :map_to_interportal_class}= t("mappings.mapping_type_selector.class")
        = text_field_tag :map_to_interportal_class, @map_to_interportal_class, placeholder: t("mappings.mapping_type_selector.class_uri_placeholder"), class: "form-control", disabled: disabled

    %div#external_form.mapping_form{style: "display: #{type?('external') ? 'block':'none'}"}
      %div.form-group
        %label{for: :map_to_external_ontology}= t("mappings.count.ontology")
        = text_field_tag :map_to_external_ontology, @map_to_external_ontology, placeholder: t("mappings.mapping_type_selector.ontology_uri_placeholder"), class: "form-control", disabled: disabled
      %div.form-group
        %label{for: :map_to_external_class}= t("mappings.mapping_type_selector.class")
        = text_field_tag :map_to_external_class, @map_to_external_class, placeholder: t("mappings.mapping_type_selector.class_uri_placeholder"), class: "form-control", disabled: disabled

:javascript
    jQuery(document).ready(() => {
       const picker_name  = 'map_to'
       const concept_details_frame = document.getElementById('concept_details')
       jQuery(".mapping_radio").live("click", function() {
        var mapping_type = jQuery(this).data('target')
        jQuery("div.mapping_form").hide()
        jQuery(mapping_type).show()
       })
       jQuery(`input[name='${picker_name}']`).on('selected', () => {
          if(concept_details_frame){
            const ontology_id = $(`input[name="${picker_name}_bioportal_ontology_id"]`).val()
            const concept_id = $(`input[name="${picker_name}_bioportal_concept_id"]`).val()
            concept_details_frame.src = "/ajax/class_details?ontology=" + encodeURIComponent(ontology_id) + "&styled=false&conceptid=" + encodeURIComponent(concept_id)
          }
        })
    })
