- @title= t('mappings.title')
.mappigs-page-container{'data-controller': 'mappings', 
                        'data-mappings-mappings-list-value': "#{@ontologies_mapping_count.to_h.to_json}",
                        'data-mappings-api-url-value': rest_url
                        }
  .mappings-page-subcontainer
    .mappings-page-title
      .text
        = @title
      .line
    .mappings-page-decription
      = t('mappings.description')
    = render TabsContainerComponent.new do |c|
      - c.item(title: t('mappings.tabs.bubble_view'), selected: true)
      - c.item_content do
        = render partial: '/mappings/tab_sections/bubble_view'

      - c.item(title: t('mappings.tabs.table_view'))
      - c.item_content do
        = render partial: '/mappings/tab_sections/table_view'
      - c.item(title: t('mappings.tabs.upload_mappings'))
      - c.item_content do    
        = render partial: '/mappings/tab_sections/upload_mappings'