.mappigs-page-container{'data-controller': 'mappings', 
                        'data-mappings-mappings-list-value': "#{@ontologies_mapping_count.to_h.to_json}",
                        'data-mappings-zoom-ratio-value': 1
                        }
  .mappings-page-subcontainer
    .mappings-page-title
      .text
        Mappings
      .line
    .mappings-page-decription
      Dive into an overview of the mappings in the bubble view, or efficiently locate a specific ontology or upload your own mappings using the tab view.
    = render TabsContainerComponent.new do |c|
      - c.item(title: 'Bubbles view', selected: true)
      - c.item_content do
        .mappings-bubble-view-container
          .mappings-bubble-view-frame{'data-mappings-target': 'frame'}
            #mappings-bubbles-view{'data-mappings-target': 'bubbles'}
          .mappings-zoom-buttons
            .in{'data-action': 'click->mappings#zoomIn'}
              = inline_svg_tag 'icons/zoom-in.svg'
            .out{'data-action': 'click->mappings#zoomOut'}
              = inline_svg_tag 'icons/zoom-out.svg'
      - c.item(title: 'Table view')
      - c.item_content do
        .mappings-table-view-container
          .mappings-ontologies-select
            = form_tag('/mappings_table', method: :get, novalidate: true, data: { turbo: true, turbo_frame: 'mappings_table' }) do
              .mappings-selector{'data-action': 'change->mappings#submit'}
                = render Input::SelectComponent.new(label: 'Find all the mappings of an ontology', id: 'mappings_ontologies_selector', name: 'ontology', value: @selector_ontologies_count)              
              %input.d-none{ type: 'submit', 'data-mappings-target': 'submit'}
              %div
                = render TurboFrameComponent.new(id:"mappings_table")
                
                  

          .mappings-or
            .line
            OR
            .line
          .upload-mappings
            .title
              Upload mappings
            = render Input::FileInputComponent.new(name: "new-mapping")
