.mappigs-page-container{'data-controller': 'mappings', 
                        'data-mappings-mappings-list-value': "#{@ontologies_mapping_count.to_h.to_json}",
                        'data-mappings-zoom-ratio-value': 1,
                        'data-mappings-type-value': 'page'
                        }
  .mappings-page-subcontainer
    .mappings-page-title
      .text
        Mappings
      .line
    .mappings-page-decription
      Dive into an overview of the mappings in the bubble view, efficiently locate a specific ontology in the table view or upload your own mappings.
    = render TabsContainerComponent.new do |c|
      - c.item(title: 'Bubbles view', selected: true)
      - c.item_content do
        = render partial: '/mappings/tab_sections/bubble_view'

      - c.item(title: 'Table view')
      - c.item_content do
        = render partial: '/mappings/tab_sections/table_view'
      - c.item(title: 'Upload mappings')
      - c.item_content do    
        = render partial: '/mappings/tab_sections/upload_mappings'