- @title= t('annotator.title')
.recommender-page-container{'data-controller': 'annotator'}
  .recommender-page-subcontainer
    .recommender-page-title
      .text
        Annotator
      .line
    .recommender-page-decription
      Get annotations for text with ontology classes
    = form_tag('/annotator', method: :get, 'data-turbo': true, novalidate: true) do
      .recommender-page-inputs{'data-controller': 'reveal-component'}
        .inputs
          %div
            .recommender-page-text-area{'data-controller': 'sample-text'}
              %textarea{rows: "6" , placeholder: "Enter or past a text to be annotated ...", name: "text",  maxlength: "500", 'data-sample-text-target': "input"}
                = params[:input]
              = insert_sample_text_button(t('recommender.insert_sample_text'))
          .recommender-page-options
            .section-text
              Advanced options
            .select-ontologies
              - get_ontologies_data
              = render Input::SelectComponent.new(label: t('recommender.select_ontologies'), id: 'ontologies', name: 'ontologies_list[]', value: @onts_for_select, multiple: "multiple", selected: params[:ontologies_list])
            .prefrences
              .preftitle Prefrences
              .chips
                = render(ChipsComponent.new(name: 'also_search_properties', label: 'Match longest only'))
                = render(ChipsComponent.new(name: 'also_search_obsolete', label: 'Recognize partial words'))
                = render(ChipsComponent.new(name: 'also_search_views', label: 'Include mappings'))
                = render(ChipsComponent.new(name: 'also_search_views', label: 'Exclude numbers'))
                = render(ChipsComponent.new(name: 'also_search_views', label: 'Exclude synonyms'))
              .advanced-options-button{'data-action': 'click->reveal-component#show', 'data-reveal-component-target': 'showButton'}
                Show more advanced options
                = inline_svg_tag 'icons/arrow-down.svg'
              .advanced-options-button.hide-button.d-none{'data-action': 'click->reveal-component#hide', 'data-reveal-component-target': 'hideButton'}
                Hide more advanced options
                = inline_svg_tag 'icons/arrow-down.svg'
        .more-advanced-options.d-none{'data-reveal-component-target': 'item'}
          Here we put more advanced options
        .recommender-page-button
          = render Buttons::RegularButtonComponent.new(id:'annotator', value: 'Get annotations', variant: "primary", type: 'submit')