- @title= t('annotator.title')
.recommender-page-container{'data-controller': 'annotator'}
  .recommender-page-subcontainer
    .recommender-page-title
      .text
        Annotator
      .line
    .recommender-page-decription
      Get annotations for text with ontology classes
    = form_tag('/annotator', method: :get, 'data-turbo': true, novalidate: true) do
      .recommender-page-inputs{'data-controller': 'reveal-component'}
        .inputs
          %div
            .recommender-page-text-area{'data-controller': 'sample-text'}
              %textarea#annotator-text-area{rows: "6" , placeholder: "Enter or past a text to be annotated ...", name: "text",  maxlength: "500", 'data-sample-text-target': "input"}
                = params[:text]
              = insert_sample_text_button(t('recommender.insert_sample_text'))
          .recommender-page-options
            .section-text
              Advanced options
            .select-ontologies
              - get_ontologies_data
              = render Input::SelectComponent.new(label: t('recommender.select_ontologies'), id: 'ontologies', name: 'ontologies_list[]', value: @onts_for_select, multiple: "multiple", selected: params[:ontologies_list])
            .prefrences
              .preftitle Prefrences
              .chips
                = render(ChipsComponent.new(name: 'whole_word_only', label: 'Whole word only', checked: params[:whole_word_only] || true))
                = render(ChipsComponent.new(name: 'also_search_properties', label: 'Match longest only'))
                = render(ChipsComponent.new(name: 'also_search_obsolete', label: 'Recognize partial words'))
                = render(ChipsComponent.new(name: 'also_search_views', label: 'Include mappings'))
                = render(ChipsComponent.new(name: 'also_search_views', label: 'Exclude numbers'))
                = render(ChipsComponent.new(name: 'also_search_views', label: 'Exclude synonyms'))
              .advanced-options-button{'data-action': 'click->reveal-component#show', 'data-reveal-component-target': 'showButton'}
                Show more advanced options
                = inline_svg_tag 'icons/arrow-down.svg'
              .advanced-options-button.hide-button.d-none{'data-action': 'click->reveal-component#hide', 'data-reveal-component-target': 'hideButton'}
                Hide more advanced options
                = inline_svg_tag 'icons/arrow-down.svg'
        .more-advanced-options.d-none{'data-reveal-component-target': 'item'}
          .filters_line
            = render Input::SelectComponent.new(label: 'Select UMLS semantic types', id: 'umls_semantic_types', name: 'umls_semantic_types', value: @semantic_types_for_select, multiple: true)
            = render Input::SelectComponent.new(label: 'Select UMLS semantic groupes', id: 'umls_semantic_groups', name: 'umls_semantic_groups', value: @semantic_groups_for_select, multiple: true)
            = render Input::SelectComponent.new(label: 'Include ancestors up to level', id: 'ancestors_level', name: 'class_hierarchy_max_level', value: @ancestors_levels, selected: params[:class_hierarchy_max_level])
          .filters_line
            - include_score_helper = 'Score annotations following previous NCBO 2009 measure (old) or Score annotations following C-Value measure (cvalue) or Score annotations following C-Value measure with hierarchy expansion (cvalueh).'
            = render Input::SelectComponent.new(label: 'Include score', id: 'include_score', name: 'score', value: @include_score, helper_text: include_score_helper)
            = render Input::NumberComponent.new(label: 'Filter by score threshold', name: "score_threshold", value: 0, helper_text: 'Specify minimum score value for annotations.')
            = render Input::NumberComponent.new(label: 'Filter confidence threshold', name: 'confidence_threshold', value: 0, helper_text: 'Specify the minimum position in the score distribution (between 1 and 100).')
          .chips
            = render(ChipsComponent.new(name: 'FastContext', label: 'FastContext'))
            = render(ChipsComponent.new(name: 'Lemmatize', label: 'Lemmatize'))
        .recommender-page-button
          = render Buttons::RegularButtonComponent.new(id:'annotator', value: 'Get annotations', variant: "primary", type: 'submit')
    - unless @results.nil? || @results.empty?
      .annotator-page-results
        .cont
          .title
            Annotations
          .details
            = "Total results #{@results.length} (direct 17 / ancestor 0 / mapping 0)"
        .recommender-table-container
          = render TableComponent.new(id: 'annotator-table', borderless: true, layout_fixed: true, outline: true, sort: true, no_init_sort: true, auto_layout: true) do |t|
            - t.header do |h|
              - @results_table_header.each do |header|
                - h.th do
                  = header
            - @results.each do |result|
              - t.row do |r|
                - r.td do
                  .class
                    %a{href: result[:class][:link]}
                      = result[:class][:text]
                - r.td do
                  %a{href: result[:ontology][:link]}
                    = result[:ontology][:text]
                - r.td do
                  - if result[:type].eql?('direct')
                    - result[:context].each do |context|
                      .annotation-context{'data-from': context[:from], 'data-to': context[:to]}
                  - else
                    .annotation-parent
                      .text
                        Parent of: 
                      %a{href: result[:context][:child][:link]}
                        = result[:context][:child][:text]
                      .gray
                        |
                      .text
                        Level:
                      .level
                        = result[:context][:level]
                - if !params[:score].nil? && !params[:score].eql?('none')
                  - r.td do
                    = result[:score]                