%h2.card_title
  %span.mr-2
    = @title
  - if @link
    %span
      = link_to(@link, target: "_blank") do
        = info_tooltip(@link_title)
- if show_card?
  = render Layout::CardComponent.new do
    = content
- else
  %div
    = content