.search-result-component{class: sub_component_class, 'data-controller': 'reveal-component'}
    %a.title{href: @link, style: @portal_color ? "color: #{@portal_color} !important" : '', target: @portal_color ? "_blank" : ''}
        .d-flex.align-items-center
            = @title
            = inline_svg_tag 'icons/external-link.svg', class: "ml-1 federated-icon-#{@portal_name} #{@portal_color ? '' : 'd-none'}"

    - if @uri
        .uri
            = @uri
    - if @definition
        = display_in_multiple_languages(@definition)
    .actions
        - unless external_class?
            = details_button
            = visualize_button
            = mappings_button
        - if subresults?
            = reveal_ontologies_button("#{subresults.size} #{t('search.result_component.more_from_ontology')}", sub_ontologies_id, 'icons/three-dots.svg')
        - if reuses?
            = reveal_ontologies_button("#{t('search.result_component.reuses_in')} #{reuses.size} ontologies", reuses_id, 'icons/reuses.svg')
        - all_federated_portals.each do |p|
            = portal_button(name: p[:name], color: p[:color], light_color: p[:light_color], link: p[:link], tooltip: "Source #{p[:name].humanize.gsub("portal", "Portal")}")
    - if subresults?
        .more-from-ontology.d-none{id: sub_ontologies_id}
            .vertical-line
            .search-result-sub-components
                - subresults.each do |result|
                    .search-result-sub-component
                        = result
    - if reuses?
        .more-from-ontology.reuses.d-none{id: reuses_id}
            .vertical-line
            .search-result-sub-components
                - reuses.each do |reuse|
                    .search-result-sub-component
                        = reuse
