.search-result-component{class: sub_component_class, 'data-controller': 'search-result-component'}
    %a.title{href: @link}
        = @title
    - if @uri
        .uri
            = @uri
    - if @definition
        .text
            = @definition
    .actions
        =  link_to_modal(nil, "/ajax/class_details?modal=true&ontology=INRAETHES&conceptid=http%3A%2F%2Fopendata.inrae.fr%2FthesaurusINRAE%2Fc_17053&styled=false",data: { show_modal_title_value: "class name", show_modal_size_value: 'modal-xl' }) do
            .button 
                = inline_svg_tag "icons/details.svg"
                .text
                    Details
        
        =  link_to_modal(nil, "/ajax/biomixer/?ontology=INRAETHES&conceptid=http%3A%2F%2Fopendata.inrae.fr%2FthesaurusINRAE%2Fc_17053",data: { show_modal_title_value: "class name", show_modal_size_value: 'modal-xl' }) do
            .button 
                = inline_svg_tag "icons/visualize.svg"
                .text
                    Visualize
        - unless  @sub_number == 0
            .button.icon-right{'data-action': "click->search-result-component#showSubOntologies"}
                .text
                    = "#{@sub_number} more from this ontology"
                = inline_svg_tag "icons/arrow-down.svg"
        - unless @reuses == 0
            .button.icon-right{'data-action': "click->search-result-component#showReuses"}
                .text
                    = "Reuses in #{@reuses} ontologies"
                = inline_svg_tag "icons/arrow-down.svg"
    - if subresults?
        .more-from-ontology.d-none{'data-search-result-component-target': 'subOntologies'}
            .vertical-line
            .search-result-sub-components
                - subresults.each do |result|
                    .search-result-sub-component
                        = result
    - if reuses?
        .more-from-ontology.reuses.d-none{'data-search-result-component-target': 'reuses'}
            .vertical-line
            .search-result-sub-components
                .reuses-title 
                    = inline_svg_tag 'icons/reuses.svg'
                    %div Reuses in other ontologies
                - reuses.each do |reuse|
                    .search-result-sub-component
                        = reuse
    
    