- hasUsages = !(@agent.usages.nil? || @agent.usages.empty?)
.container.d-flex.flex-column.py-4{ style: "width: 1248px;" }
  = render PageHeaderComponent.new(title: "#{@agent.name} (#{@agent.agentType.capitalize()})" , description: nil)
  .row
    .col-md-7
      %div.agents-page-section
        %div
          = render SummarySectionComponent.new(title: t("agents.profile.metadata")) do |c|
            = render Layout::ListComponent.new do |l|
              - properties_list_component(l, @agent_properties)
        %br
      - unless !hasUsages
        %div{'data-controller': 'agent-bubbles-submissions', 
                    'data-agent-bubbles-submissions-ontologies-list-value': "#{@agentOntologies.to_h.to_json}",
                    'data-agent-bubbles-submissions-api-url-value': rest_url}
          = render SummarySectionComponent.new(title: t("agents.profile.contributed_in")) do |c|
            %div
              = render partial: '/agents_profile/bubble_view'
    .col-md-5
      - unless !hasUsages
      .agents-page-section
        = render SummarySectionComponent.new(title: t("agents.profile.statistics")) do |c|
          .chart-container
            %canvas#contributionChart

        
:javascript
    // Get data from Ruby stats object
    const contributionData = {
      creator: #{@agent_stats[:creator_count]},
      contributor: #{@agent_stats[:contributor_count]},
      publisher: #{@agent_stats[:publisher_count]}
    };